---
layout: "layouts/_base.njk"
pagination:
  data: concepts
  size: 1
  alias: concept
permalink: "concepts/{{ concept.slug }}/"
eleventyComputed:
  title: "{{ concept.title }}"
---

<!-- prettier-ignore -->
{% import "components/concepts-page.njk" as conceptsPage %}

<!-- prettier-ignore -->
{{ conceptsPage.render(concept, pagination) }}
