---
layout: layouts/_base.njk
title: Concepts
headerText: RxC CONCEPTS
---

<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<div class="lg:min-h-screen bg-golden-fizz py-margin lg:py-lg/margin">
  <header class="mx-4 lg:mx-8 border-b">
    <h1 class="pb-2 font-display text-size-display lg:text-size-lg/display">
      <a href="/">{{ headerText }}</a>
    </h1>
  </header>
  <ul class="-mb-2">
    <!-- prettier-ignore -->
    {% for concept in concepts %}
    <li>
      <a
        class="group flex items-center lg:block py-2 font-display text-size-display lg:text-size-lg/display break-all lg:break-normal align-middle"
        href="/concepts/{{ concept.slug }}"
      >
        <div class="hidden lg:block concept-marquee">
          <div
            class="marquee__inner"
            style="animation-duration: {{ concept.title.length / 3 }}s"
          >
            <span class="uppercase ml-8 mr-24">{{ concept.title }}</span
            ><span
              aria-hidden="true"
              class="invisible group-hover:visible uppercase ml-8 mr-24"
              >{{ concept.title }}</span
            ><span
              aria-hidden="true"
              class="invisible group-hover:visible uppercase ml-8 mr-24"
              >{{ concept.title }}</span
            ><span
              aria-hidden="true"
              class="invisible group-hover:visible uppercase ml-8 mr-24"
              >{{ concept.title }}</span
            >
          </div>
        </div>
        <div class="lg:hidden ml-4">
          <span class="uppercase">{{ concept.title }}</span>
        </div>
      </a>
      {% if loop.last !== true %}
      <div class="mx-4 lg:mx-8 border-b"></div>
      {% endif %}
    </li>
    <!-- prettier-ignore -->
    {% endfor %}
  </ul>
</div>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
