---
layout: layouts/_base.njk
title: Concepts
headerText: RxC CONCEPTS
---

<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<div
  class="grid grid-cols-layout-4 lg:grid-cols-layout-12 content-start lg:min-h-screen bg-golden-fizz py-margin lg:py-lg/margin divide-y"
>
  <header class="col-span-columns">
    <h1 class="pb-2 font-display text-size-display lg:text-size-lg/display">
      <a href="/">{{ headerText }}</a>
    </h1>
  </header>
  <ul class="col-span-columns w-full divide-y -mb-2">
    <!-- prettier-ignore -->
    {% for concept in concepts %}
    <li>
      <a
        class="flex items-center justify-center lg:block py-2 font-display text-size-display lg:text-size-lg/display break-words lg:break-normal align-middle"
        href="/concepts/{{ concept.slug }}"
      >
        <div class="hidden lg:block concept-marquee">
          <div
            class="marquee__inner"
            style="animation-duration: {{ concept.title | length }}s"
          >
            <span class="uppercase mr-16">{{ concept.title }}</span
            ><span aria-hidden="true" class="uppercase mr-16">{{
              concept.title
            }}</span
            ><span aria-hidden="true" class="uppercase mr-16">{{
              concept.title
            }}</span
            ><span aria-hidden="true" class="uppercase mr-16">{{
              concept.title
            }}</span>
          </div>
        </div>
        <div class="lg:hidden w-full">
          <span class="uppercase">{{ concept.title }}</span>
        </div>
      </a>
    </li>
    <!-- prettier-ignore -->
    {% endfor %}
  </ul>
</div>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
