---
layout: layouts/_base.njk
title: Events
headerText: RxC EVENTS
introductionBlurb: |
  RadicalxChange hosts an annual conference and supports events organized by chapters
  and our community.

  Our events gather social scientists, technologists, artists, activists and entrepreneurs,
  fostering discussions and actions which connect our growing plurality to our shared mission — the deep upgrade of our social and institutional worlds.

  Dig into our archives and join our next event.
---

<!-- prettier-ignore -->
{% import "components/introduction.njk" as introduction %}
<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{% macro event(text, href) %}
<li class="group">
  <a class="flex items-center justify-between py-4" href="{{ href }}">
    <h2
      class="font-display text-size-display lg:text-size-lg/display break-words"
    >
      {{ text }}
    </h2>
    {% if href.startsWith("/") %}
    <img
      class="hidden lg:block invisible group-hover:visible"
      src="/images/ui/in-arrow.svg"
      width="90"
      height="81"
    />
    {% else %}
    <img
      class="hidden lg:block invisible group-hover:visible"
      src="/images/ui/in-arrow.svg"
      style="transform: rotate(135deg)"
      width="90"
      height="81"
    />
    {% endif %}
  </a>
</li>
<!-- prettier-ignore -->
{% endmacro %}

<!-- prettier-ignore -->
{{ menu.render() }}
<!-- prettier-ignore -->
{{ introduction.render(headerText, introductionBlurb) }}
<section class="grid grid-cols-layout-4 lg:grid-cols-layout-16 py-8">
  <ol class="col-span-columns -my-4 divide-y">
    {{ event(text="2022 WARSAW CONFERENCE", href="/events/2022-warsaw")}}
    {{ event(text="2022 FREEDOM GAMES", href="/events/2022-freedom-games")}}
    {{ event(text="PLURALITY @ SCHELLING POINT", href="/events/2022-bogota")}}
    {{ event(text="2022 ANNUAL CONFERENCE", href="/events/2022-conference")}}
    {{ event(text="2022 MONTHLY PANELS", href="/events/2022-panels")}}
    {{ event(text="2021 ANNUAL CONFERENCE", href="/events/2021-conference")}}
    {{ event(text="2021 FELLOWSHIP COHORT", href="/fellowship")}}
    {{ event(text="2021 MONTHLY PANELS", href="/events/2021-panels")}}
    {{ event(text="2020 MONTHLY PANELS", href="/events/2020-panels")}}
    {{ event(text="2020 ANNUAL CONFERENCE", href="/events/2020-conference")}}
    {{ event(text="GITxCHANGE 2 HACKATHON", href="https://gitcoin.co/hackathon/gitxchange2/prizes/?tab=hackathon:13")}}
    {{ event(text="GITxCHANGE HACKATHON", href="https://gitcoin.co/hackathon/GitxChange/?tab=hackathon:13")}}
    {{ event(text="2019 BERLIN CONFERENCE", href="/events/2019-berlin")}}
    {{ event(text="2019 ANNUAL CONFERENCE", href="/events/2019-conference")}}
  </ol>
</section>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
