---
layout: layouts/_base.njk
title: Events
headerText: Events
introductionBlurb: |
  RadicalxChange hosts an annual conference and supports events organized by chapters
  and our community.

  Our events gather social scientists, technologists, artists, activists and entrepreneurs,
  fostering discussions and actions which connect our growing plurality to our shared mission — the deep upgrade of our social and institutional worlds.

  Dig into our archives and join our next event.
---

<!-- prettier-ignore -->
{% import "components/introduction.njk" as introduction %}
<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<!-- prettier-ignore -->
{{ introduction.render(headerText, introductionBlurb) }}
<section class="grid grid-cols-layout-4 lg:grid-cols-layout-16 py-8">
  <ol class="col-span-columns">
    <li class="group">
      <a
        class="flex items-center justify-between pb-4 border-b mb-4"
        href="/events/2020-conference"
        ><h2
          class="font-display text-size-display lg:text-size-lg/display text-center lg:text-left"
        >
          2020 Annual Conference
        </h2>
        <img
          class="hidden lg:block invisible group-hover:visible"
          src="/images/ui/in-arrow.svg"
      /></a>
    </li>
    <li class="group">
      <a
        class="flex items-center justify-between pb-4 border-b mb-4"
        href="/events/2019-berlin"
        ><h2
          class="font-display text-size-display lg:text-size-lg/display text-center lg:text-left"
        >
          2019 Berlin Conference
        </h2>
        <img
          class="hidden lg:block invisible group-hover:visible"
          src="/images/ui/in-arrow.svg"
      /></a>
    </li>
    <li class="group">
      <a
        class="flex items-center justify-between pb-4 border-b mb-4"
        href="/events/2019-conference"
        ><h2
          class="font-display text-size-display lg:text-size-lg/display text-center lg:text-left"
        >
          2019 Annual Conference
        </h2>
        <img
          class="hidden lg:block invisible group-hover:visible"
          src="/images/ui/in-arrow.svg"
      /></a>
    </li>
  </ol>
</section>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
