---
layout: layouts/_base.njk
title: 2025 Berlin
headerText: "New Solidarity For An AI-Disrupted Economy"
introductionBlurb: |
  On behalf of the Global Solutions Initiative, the Sciences Po Technology and Global Affairs Innovation Hub, and the RadicalxChange Foundation, we invite you to help us anticipate AI’s possible disruptions to labor in the coming years, and propose new structures of solidarity that will help workers weather the risks. 

  This convening, bringing together senior representatives from labor organizations, public administrations, technology and cultural organizations, is an official side event “road-to-the-summit” to the AI Action Summit in Paris on February 10 and 11. See our expert consultation to the Summit [here](/media/blog/new-solidarity-for-an-ai-disrupted-economy/). 

  Our aim is to get everyone to take seriously the depth of the likely labor disruptions, hone in on policies that would help, and bring them to the upcoming [AI Action Summit](https://www.elysee.fr/en/sommet-pour-l-action-sur-l-ia) and beyond. This includes the idea of [data coalitions](https://www.radicalxchange.org/media/documents/data-coalitions-and-escrow-agents.pdf) (which are "necessary counterparties" from which AI companies would need to negotiate rights to use large datasets) along with other ideas, like new insurance pools and forms of capital ownership. Let’s use the time we have now to build pragmatic structures that preserve dignity and community against foreseeable transformations.
aboutBlurb: |
  - 14:00-14:30 Welcome & Introduction
  
  - 14:30-16:00 Panel: *Trusted Data Intermediaries: The Future of Labor?*
  
  - 16:00-16:15 Break
  
  - 16:15-17:45 Breakouts
  
    - *How to empower existing labor organizers to build proto data coalitions?*
  
    - *How to get data coalitions on the policy agenda?*
    
    - *How to structure a model law for data coalitions?*
  
  - 17:45-18:00 Closing
  
  - 18:00-19:00 Networking Cocktail Hour

rxcBlurb: |
  [RadicalxChange Foundation](/) is a 501(c)(3) nonprofit organization dedicated to democratic innovation and institutional design through operational partnerships and experimental projects between academia, government, art, technology, and beyond.
globalSolutionsBlurb: |
  The [Global Solutions Initiative](https://www.global-solutions-initiative.org/) proposes policy responses to major global problems, generated through a disciplined research program, elaborated in policy dialogues, and addressed by the G20, the G7 and other global governance fora.
sciencesPoBlurb: |
  The Paris School of International Affairs (PSIA) [Technology and Global Affairs Innovation Hub](https://www.sciencespo.fr/psia-innovation-hub/)'s core mission is to accelerate collaborative technology and governance to address global affairs challenges focused specifically on citizenship and tech, defence and security, and tech and prosperity.
mercatorBlurb: |
  [Stiftung Mercator](https://www.stiftung-mercator.de/en/) is a private, independent, and non-profit foundation, committed to an open society based on solidarity and equal opportunities.
questionsBlurb: |
  If you have any questions, please feel free to [email our team](mailto:event-info@radicalxchange.org).
---

<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<div
  class="relative grid grid-cols-layout-4 lg:grid-cols-layout-12 grid-rows-auto/auto content-between min-h-screen py-margin lg:py-lg/margin bg-golden-fizz"
>
  <header class="col-span-columns mb-8">
    <a href="/">
      {{ logo.render(classes="hidden lg:inline-block align-top") }}
    </a>
  </header>
  <div class="col-span-columns lg:col-start-column-1 lg:col-end-column-8 mb-12">
    <img 
      class="mb-2"
      src="/images/announcements/2025-berlin-image.jpg"
      alt="New Solidarity For An AI-Disrupted Economy"
    />
  </div>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-column-8 space-y-line-3/2"
  >
    <p><strong>Where? </strong>
      <a
        href="https://www.stiftung-mercator.de/en/"
        target="_blank"
        rel="noopener nofollow noreferrer"
        class="inline-link"
      >
        Stiftung Mercator
      </a> - Neue Promenade 6, 10178 Berlin, Germany</p>
    <p><strong>When? </strong>Wednesday, 15 January 2025, 14:00-19:00 CET</p>
    <div class="markdown markdown-sm">
      {{ "*Due to limited capacity, please fill out this [interest form](https://radicalxchange.typeform.com/Berlin2025) if you would like to attend the event. We will respond on a rolling basis, so applying early is advised.*" | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <div class="markdown markdown-sm text-justify">
      {{ introductionBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Format</p>
    <div class="markdown markdown-sm">
      {{ aboutBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">How To Attend</p>
    <div class="markdown markdown-sm">
      {{ "*Due to limited capacity, please fill out this [interest form](https://radicalxchange.typeform.com/Berlin2025) if you would like to attend the event. We will respond on a rolling basis, so applying early is advised.*" | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">RadicalxChange</p>
    <div class="markdown markdown-sm">
      {{ rxcBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Global Solutions Initiative</p>
    <div class="markdown markdown-sm">
      {{ globalSolutionsBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Technology and Global Affairs Innovation Hub at Sciences Po</p>
    <div class="markdown markdown-sm">
      {{ sciencesPoBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Stiftung Mercator</p>
    <div class="markdown markdown-sm">
      {{ mercatorBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <div class="markdown markdown-sm">
      {{ questionsBlurb | markdown | safe }}
    </div>
    {{ caller() if caller }}
  </div>
</div>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/close-button.js" %}
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
