---
layout: layouts/_base.njk
title: 2025 Berlin
headerText: "New Solidarity For An AI-Disrupted Economy"
introductionBlurb: |
  On behalf of the Global Solutions Initiative, the Sciences Po Technology and Global Affairs Innovation Hub, and the RadicalxChange Foundation, we invite you to help us anticipate AI’s possible disruptions to labor in the coming years, and imagine new policy strategies to help workers weather the risks. 

  This convening, bringing together senior representatives from labor organizations, public administrations, technology and cultural organizations, is an official side event of the [AI Action Summit](https://www.elysee.fr/en/sommet-pour-l-action-sur-l-ia) in Paris on February 10 and 11. See our expert consultation to the Summit [here](/media/blog/new-solidarity-for-an-ai-disrupted-economy/). 

  Our aim is to take seriously the possible depth and breadth of AI systems’ disruptions to livelihoods, hone in on policies that would help, and bring them to the upcoming AI Action Summit and beyond. This includes the idea of a new market structure for AI training data (featuring trusted data intermediaries as "necessary counterparties" from which AI companies would need to negotiate rights to use large datasets). Other relevant ideas include new social insurance pools, and new forms of capital ownership.
aboutBlurb: |
  - 13:00 - 14:00  Check-in
  - 14:00 - 14:10  Welcome & Introduction
    - **Christian Kastrop**, CEO & Partner of Global Solutions Initiative
    - **Matt Prewitt**, President of RadicalxChange Foundation
  - 14:10 - 14:45  Framing Remarks
    - **Aart Jan De Geus**, Former Minister of Social Affairs and Employment of the Netherlands & Deputy Secretary-General for the OECD
    - **Chris Boos**, CEO of Almato AI & Former Member of the German Government’s Digital Council
    - **Paul Nemitz**, Principal Adviser on the Digital Transition, DG Justice and Consumers, European Commission
    - **Ana Dujić**, Director-General of the Directorate “Digital, Work, Society” at the German Federal Ministry of Labour and Social Affairs
  - 14:45 - 16:00  Panel
    - **Matt Prewitt**, President of RadicalxChange Foundation
    - **Ana Dujić**, Director-General of the Directorate “Digital, Work, Society” at the German Federal Ministry of Labour and Social Affairs
    - **Paul Nemitz**, Principal Adviser on the Digital Transition, DG Justice and Consumers, European Commission
    - **Miapetra Kumpula-Natri**, Member of European Parliament (2014-2024) & Member of the Parliament of Finland (2003-2014 and again 2024-)	
    - **Victoria Ivanova**, R&D Strategic Lead at Serpentine Galleries
  - 16:00-16:15:  Break
  - 16:15-17:45:  Breakout Workshops
    - How can workers and labor organizers be equipped with tools and strategies to respond to disruptions from data usage and AI in the workplace?
    - How can data market reform or other pro-labor policies make their way into the global AI policy agenda?
    - How to structure a model law that gives trusted data intermediaries a vital role in the data market?
    - How to prepare new forms of social insurance and capital ownership?
  - 17:45-18:00:  Closing Remarks
    - **Christian Kastrop**, CEO & Partner of Global Solutions Initiative
    - **Matt Prewitt**, President of RadicalxChange Foundation
  - 18:00-19:00:  Networking Cocktail
prepMaterials: |
  - RadicalxChange: ["New Solidarity For An AI-Disrupted Economy"](https://www.radicalxchange.org/media/blog/new-solidarity-for-an-ai-disrupted-economy/)
  - IMF: ["Scenario Planning for an A(G)I Future"](https://www.imf.org/en/Publications/fandd/issues/2023/12/Scenario-Planning-for-an-AGI-future-Anton-korinek)
  - Noahpinion: ["Plentiful, high-paying jobs in the age of AI"](https://www.noahpinion.blog/p/plentiful-high-paying-jobs-in-the)
  - Noema: ["A View Of The Future Of Our Data"](https://www.noemamag.com/a-view-of-the-future-of-our-data/)
  - Serpentine: [“Holly Herndon and Mat Dryhurst: The Call”](https://www.youtube.com/watch?v=DNlr7olF6rE)
  - European Policy Centre: [“AI and the future of work: Linking generative AI with social, economic, and labour market policies”](https://www.epc.eu/content/PDF/2024/AI_DP_v5.pdf)
  - Arxiv: [“Shaping AI's Impact on Billions of Lives”](https://arxiv.org/pdf/2412.02730)
rxcBlurb: |
  [RadicalxChange Foundation](/) is a 501(c)(3) nonprofit organization dedicated to democratic innovation and institutional design through operational partnerships and experimental projects between academia, government, art, technology, and beyond.
globalSolutionsBlurb: |
  The [Global Solutions Initiative](https://www.global-solutions-initiative.org/) proposes policy responses to major global problems, generated through a disciplined research program, elaborated in policy dialogues, and addressed by the G20, the G7 and other global governance fora.
sciencesPoBlurb: |
  The Paris School of International Affairs (PSIA) [Technology and Global Affairs Innovation Hub](https://www.sciencespo.fr/psia-innovation-hub/)'s core mission is to accelerate collaborative technology and governance to address global affairs challenges focused specifically on citizenship and tech, defence and security, and tech and prosperity.
mercatorBlurb: |
  [Stiftung Mercator](https://www.stiftung-mercator.de/en/) is a private, independent, and non-profit foundation, committed to an open society based on solidarity and equal opportunities.
questionsBlurb: |
  If you have any questions, please feel free to [email our team](mailto:event-info@radicalxchange.org).
---

<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<div
  class="relative grid grid-cols-layout-4 lg:grid-cols-layout-12 grid-rows-auto/auto content-between min-h-screen py-margin lg:py-lg/margin bg-golden-fizz"
>
  <header class="col-span-columns mb-8">
    <a href="/">
      {{ logo.render(classes="hidden lg:inline-block align-top") }}
    </a>
  </header>
  <div class="col-span-columns lg:col-start-column-1 lg:col-end-column-8 mb-12">
    <img 
      class="mb-2"
      src="/images/announcements/2025-berlin-image.jpg"
      alt="New Solidarity For An AI-Disrupted Economy"
    />
  </div>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-column-8 space-y-line-3/2"
  >
    <p><strong>Where? </strong>
      <a
        href="https://www.stiftung-mercator.de/en/"
        target="_blank"
        rel="noopener nofollow noreferrer"
        class="inline-link"
      >
        Stiftung Mercator
      </a> - Neue Promenade 6, 10178 Berlin, Germany</p>
    <p><strong>When? </strong>Wednesday, 15 January 2025, 14:00-19:00 CET</p>
    <div class="markdown markdown-sm">
      {{ "*Due to limited capacity, please fill out this [interest form](https://radicalxchange.typeform.com/Berlin2025) if you would like to attend the event. We will respond on a rolling basis, so applying early is advised.*" | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <div class="markdown markdown-sm text-justify">
      {{ introductionBlurb | markdown | safe }}
    </div>
    <div class="events_youtube-container">
      <iframe
        src="https://www.youtube.com/embed/lipYQcTy0KI?si=QMZJGkcgiv1ebnFR"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Agenda</p>
    <div class="markdown markdown-sm">
      {{ aboutBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Optional Prep Material</p>
    <div class="markdown markdown-sm">
      {{ prepMaterials | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Who Should Attend</p>
    <div class="markdown markdown-sm">
      {{ "Labor organizers, tech professionals, policymakers, and community leaders who are passionate about shaping the future of work." | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">How To Attend</p>
    <div class="markdown markdown-sm">
      {{ "*Due to limited capacity, please fill out this [interest form](https://radicalxchange.typeform.com/Berlin2025) if you would like to attend the event. We will respond on a rolling basis, so applying early is advised.*" | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">RadicalxChange</p>
    <div class="markdown markdown-sm">
      {{ rxcBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Global Solutions Initiative</p>
    <div class="markdown markdown-sm">
      {{ globalSolutionsBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Technology and Global Affairs Innovation Hub at Sciences Po</p>
    <div class="markdown markdown-sm">
      {{ sciencesPoBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <p class="font-bold uppercase">Stiftung Mercator</p>
    <div class="markdown markdown-sm">
      {{ mercatorBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
    </div>
    <div class="markdown markdown-sm">
      {{ questionsBlurb | markdown | safe }}
    </div>
    {{ caller() if caller }}
  </div>
</div>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/close-button.js" %}
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
