---
sponsors:
  - name: Ocean Protocol
    href: "https://oceanprotocol.com/"
  - name: Charles River Associates
    href: "http://www.crai.com/"
  - name: Factory Berlin
    href: "https://factoryberlin.com/"
  - name: Accelerator Frankfurt
    href: "https://www.acceleratorfrankfurt.com/"
---

<!-- prettier-ignore -->
{% import "components/page.njk" as page %}
<!-- prettier-ignore -->
{% import "components/call-to-action.njk" as callToAction %}

<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% set title = "2019 Berlin" %}
<!-- prettier-ignore -->
{% set headerText = "2019 Berlin Conference" %}
<!-- prettier-ignore -->
{% set stickyNav = false %}
<!-- prettier-ignore -->
{% set footerBgColor = "bg-white" %}

<!-- prettier-ignore -->
{% block content %}
<div>
  <p class="mb-base lg:mb-lg/base">
    This event, hosted by
    <a href="/chapters/berlin-germany/" class="inline-link">RxC Berlin</a>,
    convened a community of innovators, activists, artists, and scholars from
    around the world. The conference consisted of presentations, panels, and
    workshops based around RxC topics, such as Data Dignity, Quadratic Voting,
    Quadratic Finance, SALSA, and Decentralized Identity. We invited local
    leaders and change-makers to learn how technologists, creatives and
    academics are using RxC ideas to solve our most divisive social problems
    while building a brighter future where power is distributed across diverse
    democratic organizations.
  </p>
  <!-- prettier-ignore -->
  {% call callToAction.render() %}
  <!-- prettier-ignore -->
  {% call callToAction.item() %}
  <a class="animated-link uppercase" href="/2019-berlin/replay">
    Watch the replay
  </a>
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% endcall %}
</div>
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block restOfContent %}
<!-- prettier-ignore -->
{% call page.section() %}
<ul class="lg:columns-2 lg:columns-lg/base-gap">
  <li>
    {{ page.header("Photos", "px-base lg:px-0 mb-lg lg:mb-lg/lg lg:mr-lg/lg") }}
  </li>
  <li>
    <img
      class="grayscale mb-sm lg:mb-lg/base"
      src="/images/rxc2019berlin/rxcberlin2019_4.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-sm lg:mb-lg/base"
      src="/images/rxc2019berlin/rxcberlin2019_2.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-sm lg:mb-lg/base"
      src="/images/rxc2019berlin/rxcberlin2019_3.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-sm lg:mb-lg/base"
      src="/images/rxc2019berlin/rxcberlin2019_1.jpg"
    />
  </li>
</ul>
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% call page.render("With the support of") %}
<div class="flex flex-col justify-between h-full">
  <ul
    class="grid grid-cols-1 lg:grid-cols-3 gap-base lg:gap-lg/base col-gap-lg lg:col-gap-lg/lg mb-lg lg:mb-lg/lg"
  >
    {% for s in sponsors%}
    <li>
      <a class="flex items-center h-full" href="{{ s.href }}">{{ s.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% endblock %}
