---
layout: layouts/_base.njk
title: RadicalxChange
gitxchange: |
  ## Hackathon
  Ahead of the conference, we hosted a two-week virtual hackathon together with Gitcoin to further develop tools for bottom-up experimentation with radical political economies. The hackathon included a variety of challenges ranging from coding and designing to conceptualizing ideas about cooperative plurality. [Read more on the hackathon portal](https://gitcoin.co/hackathon/GitxChange/?tab=hackathon:25)
sponsors:
  - name: Dada.art
    image: /images/sponsors-2020/dada-logo.png
    href: "https://dada.nyc/"
  - name: Democracy Earth
    image: /images/sponsors-2020/democracy-earth-logo.png
    href: "https://democracy.earth/"
  - name: Gitcoin
    image: /images/sponsors-2020/gitcoin-logo.svg
    href: "https://gitcoin.co/"
  - name: Idena
    image: /images/sponsors-2020/idena-logo.jpeg
    href: "https://idena.io/"
  - name: Insper
    image: /images/sponsors-2020/insper-logo.png
    href: "https://www.insper.edu.br/"
  - name: Wildcards
    image: /images/sponsors-2020/wildcards-logo.png
    href: "https://wildcards.world/"
  - name: Ocean Protocol
    image: /images/sponsors-2020/ocean-protocol-logo.svg
    href: "https://oceanprotocol.com/"
  - name: Hewlett Foundation
    image: #
    href: "https://hewlett.org/"
  - name: Microsoft
    image: #
    href: "https://www.microsoft.com/"
---

<!-- prettier-ignore -->
{% import "components/nav.njk" as nav %}
<!-- prettier-ignore -->
{% import "components/header.njk" as header %}
<!-- prettier-ignore -->
{% import "components/section.njk" as section %}
<!-- prettier-ignore -->
{% import "components/page.njk" as page %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}
<!-- prettier-ignore -->
{% import "components/call-to-action.njk" as callToAction %}
<!-- prettier-ignore -->
{% import "components/modal.njk" as modal %}
<!-- prettier-ignore -->
{% import "components/subscribe-modal.njk" as subscribeModal %}
<!-- prettier-ignore -->
{% import "components/sponsor-modal.njk" as sponsorModal %}

<main>
  <!-- prettier-ignore -->
  {{ nav.stickyMenuButton() }}
  <!-- prettier-ignore -->
  {% call nav.render(false) %}
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call header.render("2020 Annual Conference") %}
  <div>
    <a
      href="/2020-conference/archive"
      class="flex flex-col lg:flex-row lg:items-center"
    >
      <img src="/images/ui/icon-youtube.svg" class="conference-replay-icon" />
      <div>
        <p class="mb-lg/base">
          The videos from the 2020 Annual Conference have been posted.
        </p>
        <p><span class="animated-link">Watch the replay</span></p>
      </div>
    </a>
  </div>
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call page.render("Speakers", false) %}
  <div class="flex flex-col justify-between h-full">
    <a
      href="/2020-conference/speakers"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-lg lg:mb-lg/lg overflow-hidden"
    >
      {% for s in keynoteSpeakers2020 %}
      <!-- prettier-ignore -->
      <div class="conference-image" style="background-image: linear-gradient(black, black), url('/images/speakers-2020/{{ s.picture }}');">
        <div
          class="absolute bottom-0 right-0 w-1/2 lg:w-2/3 p-sm lg:p-lg/sm bg-white"
        >
          <h4 class="text-sm lg:text-lg/sm">{{ s.name }}</h4>
          <p class="text-xs2 lg:text-lg/xs2">{{ s.title }}</p>
        </div>
        <div class="hidden">
          {{ s.bio }}
        </div>
      </div>
      {% endfor %}
    </a>
    <div class="lg:self-end mb-lg mx-base lg:mb-lg/xl lg:mr-lg/lg lg:ml-0">
      <a class="animated-link uppercase" href="/2020-conference/speakers"
        >See all speakers</a
      >
    </div>
  </div>
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call page.render("Before the conference", true) %}
  <div class="md-container">
    {{ gitxchange | markdown | safe }}
  </div>
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call page.render("With the support of") %}
  <div class="flex flex-col justify-between h-full">
    <ul
      class="grid grid-cols-2 lg:grid-cols-3 gap-base lg:gap-lg/base col-gap-lg lg:col-gap-lg/lg mb-lg lg:mb-lg/lg"
    >
      {% for s in sponsors%}
      <li>
        <a class="flex items-center h-full" href="{{ s.href }}">{{ s.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- prettier-ignore -->
  {% endcall %}
</main>
<!-- prettier-ignore -->
{% call footer.render('bg-golden-fizz-100') %}
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% call modal.render('subscribe') %}
<!-- prettier-ignore -->
{% call subscribeModal.render() %}
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% endcall %}
<script>
  // prettier-ignore
  {% include "components/nav.js" %}
  // prettier-ignore
  {% include "components/modal.js" %}
</script>
