<!-- prettier-ignore -->
{% import "components/modal.njk" as modal %}

<!-- prettier-ignore -->
{% extends "layouts/_full-page.njk" %}

<!-- prettier-ignore -->
{% set title = "2020 RxCon Replay - RadicalxChange" %}
<!-- prettier-ignore -->
{% set headerText = "2020 RxCon Replay" %}
<!-- prettier-ignore -->
{% set headerHref = "/2020-conference" %}

<!-- prettier-ignore -->
{% block content %}
<div class="flex flex-col lg:flex-row bg-golden-fizz-100">
  <div class="lg:w-span7 pb-lg lg:pb-lg/xl px-base lg:pl-lg/lg lg:pr-lg/base">
    <!-- lg-tall:top-0 lg-tall:sticky lg-tall:pt-lg/base lg-tall:-mt-lg/base -->
    <div class="bg-golden-fizz-100">
      <div class="youtube-container" data-youtube-container></div>
    </div>
    <div class="mt-base lg:mt-lg/lg">
      <h3
        class="text-xl lg:text-lg/xl mb-xs lg:mb-lg/base"
        data-youtube-title
      ></h3>
      <p class="lg:hidden">
        <button class="animated-link" data-modal-trigger="vdesc">
          Read more
        </button>
      </p>
      <p
        class="hidden lg:block whitespace-pre-wrap"
        data-youtube-description
      ></p>
    </div>
  </div>
  <div class="lg:w-span5 pb-base lg:pb-lg/xl px-base lg:pl-lg/base lg:pr-lg/lg">
    <h3 class="text-xl mb-base lg:hidden">More videos</h3>
    <ul class="-mb-base lg:-mb-lg/base">
      {% for v in youtube2020 %}
      <li class="mb-base lg:mb-lg/base">
        <a class="flex items-start" href="#v{{ v.videoId }}">
          <img
            src="/images/ui/icon-youtube.svg"
            class="conference-replay-video_icon"
          />
          <div>
            <h4>{{ v.title }}</h4>
            <p class="text-xs lg:text-lg/xs">{{ v.speakers }}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- prettier-ignore -->
{% call modal.render('vdesc') %}
<p class="whitespace-pre-wrap" data-youtube-description></p>
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% for v in youtube2020 %}
<!-- prettier-ignore -->
<script type="text/plain" id="title-{{ v.videoId }}">{{ v.title | safe }}</script>
<!-- prettier-ignore -->
<script type="text/plain" id="description-{{ v.videoId }}">{{ v.description | safe }}</script>
<!-- prettier-ignore -->
{% endfor %}
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block bodyScripts %}
<script>
  const youtubeContainer = $("[data-youtube-container]");
  const youtubeTitle = $("[data-youtube-title]");
  const youtubeDescription = $("[data-youtube-description]");

  function showVideo(videoId = "{{youtube2020[0].videoId}}") {
    youtubeContainer.empty();
    youtubeContainer.append(
      $(
        `<iframe src="https://www.youtube-nocookie.com/embed/${videoId}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
      )
    );
    youtubeTitle.empty();
    youtubeTitle.append($(`#title-${videoId}`).contents().clone());
    youtubeDescription.empty();
    youtubeDescription.append($(`#description-${videoId}`).contents().clone());
    window.scrollTo(0, 0);
  }

  const hashRegex = /^#v(.*)$/;
  $(window).on("hashchange", function (e) {
    const match = hashRegex.exec(window.location.hash);
    if (match) {
      showVideo(match[1]);
    } else {
      showVideo();
    }
  });
  const match = hashRegex.exec(window.location.hash);
  if (match) {
    showVideo(match[1]);
  } else {
    showVideo();
  }
</script>
<!-- prettier-ignore -->
{% endblock %}
