---
layout: layouts/include.njk
title: Conference Schedule - RadicalxChange
---

<div id="brella-widget">
  <script type="text/props">
    { "joinCode": "rxcon2020" }
  </script>
</div>
<script async src="https://widget.brella.io"></script>
