<!-- prettier-ignore -->
{% import "components/modal.njk" as modal %}

<!-- prettier-ignore -->
{% extends "layouts/_full-page.njk" %}

<!-- prettier-ignore -->
{% set title = "Speakers - RadicalxChange" %}
<!-- prettier-ignore -->
{% set headerText = "Speakers" %}
<!-- prettier-ignore -->
{% set headerHref = "/2020-conference" %}

<!-- prettier-ignore -->
{% block content %}
<div class="flex flex-col justify-between h-full bg-golden-fizz-100">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 mb-lg lg:mb-lg/lg overflow-hidden"
  >
    {% for s in allSpeakers2020 %}
    <div
      class="conference-image cursor-pointer"
      style="background-image: linear-gradient(black, black);"
      data-speaker-declare
      data-speaker-image="/images/speakers-2020/{{ s.picture }}"
      data-modal-trigger="bio"
    >
      <div
        class="absolute bottom-0 right-0 w-1/2 lg:w-2/3 p-sm lg:p-lg/sm bg-white"
      >
        <h4 class="text-sm lg:text-lg/sm" data-speaker-name>{{ s.name }}</h4>
        <p class="text-xs2 lg:text-lg/xs2" data-speaker-title>{{ s.title }}</p>
      </div>
      <div class="hidden" data-speaker-bio>
        {{ s.bio | markdown | safe }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="lg:self-end mb-lg mx-base lg:mb-lg/xl lg:mr-lg/lg lg:ml-0">
    <a class="animated-link uppercase" href="/2020-conference"
      >Back to conference</a
    >
  </div>
</div>
<!-- prettier-ignore -->
{% call modal.render('bio') %}
<div class="speaker-bio-modal_container">
  <div
    style="flex: 0 1 41.666667%;"
    class="flex flex-col mb-base lg:mb-0 lg:mr-lg/lg"
  >
    <img class="self-center mb-base lg:mb-lg/base" data-bio-picture />
    <div>
      <p class="text-center" data-bio-name></p>
      <p class="text-center italic" data-bio-title></p>
    </div>
  </div>
  <div
    style="flex: 0 1 58.333333%;"
    class="md-container overflow-y-auto"
    data-bio-content
  ></div>
</div>
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block bodyScripts %}
<script>
  let lazyImageObserver = new IntersectionObserver(function (
    entries,
    observer
  ) {
    entries.forEach(function (entry) {
      if (entry.isIntersecting) {
        let lazyImage = entry.target;
        lazyImage.style.backgroundImage = `linear-gradient(black, black), url('${lazyImage.dataset.speakerImage}')`;
        lazyImageObserver.unobserve(lazyImage);
      }
    });
  });
  $("[data-speaker-image]").each((index, element) =>
    lazyImageObserver.observe(element)
  );

  $("[data-speaker-declare]").click(function (event) {
    event.preventDefault();

    const clicked = $(this);

    const picture = clicked.data("speaker-image");
    const name = clicked.find("[data-speaker-name]").text();
    const title = clicked.find("[data-speaker-title]").text();
    const bio = clicked.find("[data-speaker-bio]").contents().clone();

    $("[data-bio-picture]").attr("src", picture);
    $("[data-bio-name]").text(name);
    $("[data-bio-title]").text(title);
    const contentElement = $("[data-bio-content]");
    contentElement.empty();
    contentElement.append(bio);
  });
</script>
<!-- prettier-ignore -->
{% endblock %}
