.about_press-link:nth-child(n + 20) {
  @apply hidden;
  @apply lg:block;
}

.about_press-description {
  @apply hidden;

  @screen md {
    clip-path: inset(0 100% 0 0);
    max-width: 17ch;
  }
  @apply md:block;
  @apply md:transition-clip-path;
  @apply md:duration-300;

  @screen lg {
    max-width: 19ch;
  }

  @screen xl {
    max-width: 18ch;
  }
}

.group:hover .about_press-description {
  clip-path: inset(0);
}
