.about {
  &_chapters {
    @apply bg-white;
    @apply grid;
    @apply grid-cols-4;
    grid-template-rows: auto auto;
    @apply mt-8 mb-8;

    @screen lg {
      @apply grid;
      @apply grid-cols-12;
      grid-template-rows: auto;
    }

    &_join-button {
      grid-column: column 1 / margin 2;
      @apply order-last;

      @screen lg {
        @apply order-none;
        grid-column: column 1 / gutter 4;
      }
    }

    &_description {
      grid-column: column 1 / margin 2;
      @apply order-first;
      @apply mb-8;

      @screen lg {
        @apply order-none;
        grid-column: column 5 / margin 2;
      }
    }
  }

  &_team {
    @apply bg-white;
    @apply grid;
    @apply grid-cols-4;
    grid-template-rows: auto auto;
    @apply mb-8;

    @screen lg {
      @apply grid;
      @apply grid-cols-12;
      grid-template-rows: auto;
      @apply mb-16;
    }

    &_the-team {
      grid-column: column 1 / margin 2;
      @apply order-last;
      @apply mb-8;

      @screen lg {
        @apply order-none;
        grid-column: column 1 / gutter 6;
        @apply mb-0;
      }
    }

    &_the-board {
      grid-column: column 1 / margin 2;
      @apply order-last;

      @screen lg {
        @apply order-none;
        grid-column: column 7 / margin 2;
      }
    }
  }

  &_press {
    @apply bg-white;
    @apply grid;
    @apply grid-cols-4;
    grid-template-rows: auto auto;
    @apply mb-4;

    @screen lg {
      @apply grid;
      @apply grid-cols-12;
      grid-template-rows: auto;
      @apply mb-8;
    }

    &_title {
      grid-column: column 1 / margin 2;
      @apply mt-4;

      @screen lg {
        grid-column: column 1 / gutter 2;
        @apply mt-0;
      }
    }

    &_hr {
      grid-column: column 1 / margin 2;
      @apply border-b;
      @apply mb-4;
      @apply order-3;

      @screen lg {
        @apply order-none;
      }
    }

    &_nav {
      grid-column: column 1 / gutter 2;
      @apply order-1;

      @screen lg {
        @apply order-none;
      }
    }

    &_links {
      grid-column: column 1 / margin 2;
      @apply grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10, auto);
      @apply gap-x-8 gap-y-4;
      @apply grid-flow-col;
      @apply order-4;

      @screen lg {
        grid-column: column 4 / gutter 11;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(11, 1fr);
        @apply gap-x-8 gap-y-8;
        @apply order-none;
      }
    }

    &_page {
      grid-column: column 4 / margin 2;
      @apply justify-self-end;
      @apply order-2;
      @apply text-size--2;

      @screen lg {
        grid-column: column 12 / margin 2;
        @apply order-none;
      }
    }
  }

  &_support {
    @apply bg-white;
    @apply grid;
    @apply grid-cols-4;
    grid-template-rows: auto auto;
    @apply mb-8;

    @screen lg {
      @apply grid;
      @apply grid-cols-12;
      grid-template-rows: auto;
    }

    &_hr {
      grid-column: column 1 / margin 2;
      @apply border-b;
      @apply mb-4;
    }

    &_title {
      grid-column: column 1 / gutter 2;
      @apply mb-8;

      @screen lg {
        grid-column: column 1 / gutter 3;
      }
    }

    &_supporters {
      grid-column: column 1 / margin 2;

      @screen lg {
        grid-column: column 4 / margin 2;
      }
    }
  }
}

.press_link {
  @apply relative;
}

.press_link-details {
  @apply z-10;
  @apply absolute top-0 left-1/4;
  @apply hidden;
  @apply max-w-full;
  @apply p-2;
  @apply bg-light-black;
  @apply opacity-0;
  @apply transition-opacity delay-300 duration-100 ease-in-out;
}

.press_link:hover .press_link-details {
  @apply block;
  @apply opacity-100;
}

.press_link:nth-child(n + 20) {
  @apply hidden;

  @screen lg {
    @apply block;
  }
}

.press_link:last-child {
  @apply block;
}
