.about {
  &_chapters {
    @apply bg-white;
    @apply grid;
    @apply grid-cols-4;
    grid-template-rows: auto auto;
    @apply mt-4 mb-8;

    @screen lg {
      @apply grid;
      @apply grid-cols-12;
      grid-template-rows: auto;
    }

    &_join-button {
      grid-column: column 1 / margin 2;
      @apply order-last;

      @screen lg {
        @apply order-none;
        grid-column: column 1 / gutter 5;
      }
    }

    &_description {
      grid-column: column 1 / margin 2;
      @apply order-first;
      @apply mb-8;

      @screen lg {
        @apply order-none;
        grid-column: column 6 / margin 2;
      }
    }
  }

  &_team {
    @apply bg-white;
    @apply grid;
    @apply grid-cols-4;
    grid-template-rows: auto auto;
    @apply mb-8;

    @screen lg {
      @apply grid;
      @apply grid-cols-12;
      grid-template-rows: auto;
    }

    &_the-team {
      grid-column: column 1 / margin 2;
      @apply order-last;
      @apply mb-8;

      @screen lg {
        @apply order-none;
        grid-column: column 1 / gutter 5;
        @apply mb-0;
      }
    }

    &_the-board {
      grid-column: column 1 / margin 2;
      @apply order-last;

      @screen lg {
        @apply order-none;
        grid-column: column 6 / margin 2;
      }
    }
  }

  &_press {
    @apply bg-white;
    @apply grid;
    @apply grid-cols-4;
    grid-template-rows: auto auto;
    @apply mb-8;

    @screen lg {
      @apply grid;
      @apply grid-cols-12;
      grid-template-rows: auto;
    }

    &_title {
      grid-column: column 3 / gutter 5;
    }

    &_hr {
      grid-column: column 1 / margin 2;
      @apply border-b;
      @apply mb-4;
    }

    &_nav {
      grid-column: column 1 / gutter 2;
    }

    &_links {
      grid-column: column 3 / gutter 11;
    }

    &_page {
      grid-column: column 12 / margin 2;
    }
  }
}
