.blink {
  animation: 0.7s linear infinite alternate blink-ani;
}

.blink:hover {
  animation: blink-noop;
}

@keyframes blink-noop {
  0% {
    color: inherit;
  }

  100% {
    color: inherit;
  }
}

@keyframes blink-ani {
  0% {
    color: inherit;
  }

  50% {
    color: inherit;
  }

  50.001% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}
