#data-dignity #data-dignity-rotate {
  transform-origin: 50% 50%;
  transform: rotateZ(0);
  transition: transform 2s ease-in;
}

#data-dignity:hover #data-dignity-rotate {
  transform: rotateZ(51.43deg);
}

.quadratic-voting {
  background: linear-gradient(
    to bottom,
    theme("colors.light-gold"),
    transparent,
    theme("colors.light-gold")
  );
  background-size: auto 300%;
  animation: ease-in infinite gradient-rotation 2s;
  animation-play-state: paused;

  &:hover {
    animation-play-state: running;
  }
}

@keyframes gradient-rotation {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: 150%;
  }
}
