.conference_menu {
  @apply hidden;
  @apply lg:grid;

  @screen lg {
    grid-template-rows: 41vh 1fr;
  }
  @apply lg:fixed;
  @apply lg:top-0;
  @apply lg:right-0;
  @apply lg:h-screen;
  @apply lg:w-1/5;
}

.conference_button {
  @apply bg-black;
  @apply rounded-lg;
  @apply w-full;
  @apply px-4;
  @apply mb-6;
}

.conference_inline-button {
  @apply block;
  @apply lg:grid;

  @screen lg {
    grid-template-columns: 1fr auto;
  }

  .conference_button {
    @apply bg-black;
    @apply rounded-lg;
    @apply w-full;
    @apply px-4;
    @apply mb-0;
    @apply ml-0;
    @apply lg:ml-12;
    width: 10rem;
  }
}
