@font-face {
  font-family: "Messer";
  src: url("/fonts/messerv2.0-condensed-webfont.woff2") format("woff2"),
    url("/fonts/messerv2.0-condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl-Book";
  src: url("/fonts/suisseintl-book-webfont.woff2") format("woff2"),
    url("/fonts/suisseintl-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("/fonts/suisseintl-regular-webfont.woff2") format("woff2"),
    url("/fonts/suisseintl-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
