@font-face {
  font-family: "Messer";
  src: url("/fonts/hinted-MesserV20-Condensed.woff2") format("woff2"),
    url("/fonts/hinted-MesserV20-Condensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-Bold.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-Black.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-BlackItalic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-BoldItalic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Book";
  src: url("/fonts/hinted-SuisseIntl-Book.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Book";
  src: url("/fonts/hinted-SuisseIntl-BookItalic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-Medium.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-LightItalic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-Light.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-MediumItalic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-Italic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-Regular.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Semi";
  src: url("/fonts/hinted-SuisseIntl-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-Thin.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Semi";
  src: url("/fonts/hinted-SuisseIntl-SemiBold.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-ThinItalic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-UltraLight.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/hinted-SuisseIntl-UltraLightItalic.woff2") format("woff2"),
    url("/fonts/hinted-SuisseIntl-UltraLightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
