.logo {
  @apply w-full;

  @screen lg {
    width: calc(566 * var(--fluid-bp));
  }
}

.home-main {
  @apply relative;
  @apply grid;
  @apply grid-cols-4;
  grid-template-rows: auto 1fr auto 1fr auto;
  @apply min-h-screen;

  @screen lg {
    @apply grid-cols-12;
    grid-template-rows: auto 1fr auto 1fr auto;
  }

  &_logo {
    grid-column: column 1 / gutter 5;
    grid-row: 1 / span 1;
    @apply block;
    @apply mt-4 mb-8;

    @screen lg {
      grid-column: column 1 / gutter 10;
      grid-row: 1 / span 1;
    }
  }

  &_carousel {
    grid-column: column 1 / gutter 5;
    grid-row: 3 / span 1;
    display: flex;
    @apply overflow-x-auto;
    @apply cursor-move;
    scroll-snap-type: x mandatory;

    @screen lg {
      grid-column: gutter 1 / column 10;
      grid-row: 3 / span 1;
      @apply mx-8;
      @apply cursor-auto;
    }
  }

  &_carousel-inner {
    @apply grid;
    grid-template-columns: repeat(6, calc(100vw - 4rem));
    @apply col-gap-8 row-gap-8;
    @apply px-8;

    @screen lg {
      grid-template-columns: repeat(3, 1fr);
      @apply px-0;
    }
  }

  &_concept {
    @apply flex flex-col items-center;
    @apply mb-4;
    scroll-snap-align: center;

    @screen lg {
      @apply mb-8;
    }
  }

  &_marquee {
    @apply hidden;

    @screen lg {
      grid-column: gutter 1 / column 10;
      grid-row: 5 / span 1;
      @apply sticky bottom-0;
      @apply block;
      @apply pt-2;
      @apply bg-white;
      @apply leading-none;
      @apply overflow-hidden;
    }
  }

  &_aside {
    @apply hidden;

    @screen lg {
      grid-column: column 10 / -1;
      grid-row: 1 / -1;
      @apply block;
      @apply bg-black;
      @apply text-white;
    }
  }

  &_banner {
    grid-column: column 1 / gutter 5;
    grid-row: 5 / span 1;
    @apply flex flex-col items-center;
    @apply mb-4;

    @screen lg {
      @apply hidden;
    }
  }
}
