.home {
  @apply relative;
  @apply grid;
  @apply grid-cols-layout-4;
  grid-template-rows: auto 1fr auto 1fr auto;
  @apply h-screen;

  @screen lg {
    @apply grid-cols-layout-12;
    grid-template-rows: auto 1fr auto 1fr auto;
  }

  &_logo {
    grid-column: column 1 / margin 2;
    grid-row: 1 / span 1;
    @apply block;
    @apply mt-4 mb-8;
    justify-self: center;

    @screen lg {
      grid-column: column 1 / gutter 9;
      grid-row: 1 / span 1;
      justify-self: start;
    }
  }

  &_carousel {
    grid-column: column 1 / margin 2;
    grid-row: 3 / span 1;
    @apply grid;
    grid-template-columns: repeat(6, calc(100vw - 2rem));
    @apply gap-x-8;
    @apply overflow-x-auto;
    @apply cursor-move;
    scroll-snap-type: x mandatory;

    @screen lg {
      grid-column: column 1 / gutter 9;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &_concept {
    @apply flex flex-col items-center;
    @apply mb-4;
    scroll-snap-align: center;

    @screen lg {
      @apply mb-8;
    }
  }

  &_marquee {
    @apply hidden;

    @screen lg {
      grid-column: margin 1 / column 10;
      grid-row: 5 / span 1;
      @apply sticky bottom-0;
      @apply block;
      @apply pt-2;
      @apply bg-white;
      @apply leading-none;
      @apply overflow-hidden;
    }
  }

  &_aside {
    @apply hidden;

    @screen lg {
      grid-column: column 10 / -1;
      grid-row: 1 / -1;
      @apply flex flex-col;
      @apply bg-black;
      @apply text-white;
    }
  }

  &_banner {
    grid-column: column 1 / margin 2;
    grid-row: 5 / span 1;
    @apply flex flex-col items-center;
    @apply mb-4;

    @screen lg {
      @apply hidden;
    }
  }
}

/* https://tympanus.net/codrops/2020/03/31/css-only-marquee-effect/ */
.marquee {
  position: relative;
  overflow: hidden;
  --offset: 0;
  --move-initial: -25%;
  --move-final: -50%;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 40s linear infinite;
  /* animation-play-state: paused; */
}

/* .marquee span {
  font-size: 10vw;
  padding: 0 2vw;
} */

.marquee:hover .marquee__inner {
  /* animation-play-state: running; */
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

/* https://tympanus.net/codrops/2020/03/31/css-only-marquee-effect/ */
.marquee2 {
  position: relative;
  overflow: hidden;
  --offset: 0;
  --move-initial: -25%;
  --move-final: -50%;
}

.marquee2__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translate3d(0, var(--move-initial), 0);
  animation: marquee2 60s linear infinite;
  animation-play-state: running;
}

/* .marquee span {
  font-size: 10vw;
  padding: 0 2vw;
} */

.marquee2:hover .marquee2__inner {
  animation-play-state: paused;
}

@keyframes marquee2 {
  0% {
    transform: translate3d(0, var(--move-initial), 0);
  }

  100% {
    transform: translate3d(0, var(--move-final), 0);
  }
}
