@import "./mixins/_animated-link.css";

.animated-link {
  position: relative;
  @apply font-medium;
}

.animated-link:after {
  content: "";
  @apply absolute;
  @apply right-full;
  @apply left-0;
  bottom: -1px;
  @apply border-solid;
  @apply border-t-3;
  @apply border-black;
  @apply transition-right;
  @apply duration-300;
  @apply ease-in;
}

.animated-link:hover:after {
  @mixin animated-link-hover;
}

@screen touch {
  .animated-link:after {
    @mixin animated-link-hover;
  }
}

.inline-link {
  text-decoration: underline;
}

/* Make images grayscale */
.grayscale {
  filter: grayscale(100%);
}
