.kiosk {
  &_border-b {
    padding-bottom: calc(theme("spacing.1") - 1px);
    border-bottom: solid 1px theme("colors.black");
    @apply pt-1 pr-1 pl-1;

    &:hover {
      padding-bottom: calc(theme("spacing.1") - 2px);
      border-bottom: solid 2px theme("colors.black");
    }
  }
}

.youtube-container {
  @apply relative;
  @apply h-0;
  padding-bottom: 56.25%;

  iframe {
    @apply absolute;
    @apply w-full h-full;
    @apply top-0 left-0;
  }
}
