/* Logo in header */
.logo-width {
  width: 100%;

  @screen lg {
    width: 39.3vw;
  }
}

/* Conference button on mobile */
.conference-button-height {
  height: 21vmin;
}

.conference-button-section-height {
  height: calc(100vh - 21vmin);

  @screen lg {
    @apply min-h-tall;
  }

  @screen lg-tall {
    @apply min-h-screen;
  }
}

.conference-button-pb {
  padding-bottom: calc(21vmin + theme("spacing.base"));

  @screen lg {
    padding-bottom: theme("spacing.lg/xl");
  }
}

/* Alternate background colors */
.color-every-other-child:nth-of-type(even) {
  @apply bg-golden-fizz-100;
}

.color-every-other-child:nth-of-type(odd) {
  @apply bg-white;
}

/* Conference page */

.conference-image {
  @apply relative;
  /* @apply mb-base; */
  @apply overflow-hidden;
  flex: 0 0 100%;
  /* background image in element style */
  background-size: cover;
  background-blend-mode: saturation;

  @screen md {
    flex: 0 0 50%;
  }

  @screen lg {
    /* @apply mb-0; */
    flex: 0 0 33.333333%;
  }
}

/* https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox */
.conference-image:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.conference-sponsor {
  width: 20vmin;

  @screen lg {
    width: 20vw;
  }
}

.conference-schedule {
  @apply flex flex-col justify-between;
  height: 85vh;

  @screen lg {
    @apply h-full;
  }
}

/* Team page */

.team_image {
  @apply relative;
  @apply overflow-hidden;
  flex: 0 0 100%;
  /* background image in element style */
  background-size: cover;
  background-blend-mode: saturation;

  @screen md {
    flex: 0 0 50%;
  }

  @screen lg {
    flex: 0 0 33.333333%;
  }
}

/* https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox */
.team_image:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.team_social-icon {
  width: 3.25vmin;
  height: 3.25vmin;

  @screen lg {
    width: 1.125vw;
    height: 1.125vw;
  }
}

/* Chapters page */
#mapid {
  height: 512px;
  @apply my-base;
  @apply border;
  @apply font-body !important;

  a {
    @apply text-black !important;
  }

  .leaflet-tile-pane,
  .leaflet-marker-icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  @screen lg {
    @apply my-lg/base;
  }

  @screen touch {
    display: none;
  }
}

/* Twitch */

.twitch-container {
  @apply relative;
  @apply h-0;
  padding-bottom: 60.967742%;
  @apply mb-lg;

  iframe {
    @apply absolute;
    @apply w-full h-full;
    @apply top-0 left-0;
  }

  @screen lg {
    @apply mb-lg/lg;
  }
}
