/* Logo in header */
.logo {
  @apply w-full;
  @apply mb-zxl;
}

@screen md {
  .logo {
    width: 39.3vw;
    @apply mb-auto;
  }
}

/* Close button in menu */
.close-button {
  width: 6vmin;
}

/* Horizontal padding for the right panel */
.px-header {
  @apply pl-zdefault;
  @apply pr-zdefault;
}

@screen md {
  .px-header {
    @apply pl-sm;
    @apply pr-lg;
  }
}

/* Horizontal padding for the left panels */
.px-section {
  @apply pl-zdefault;
  @apply pr-zdefault;
}

@screen md {
  .px-section {
    @apply pl-lg;
    @apply pr-sm;
  }
}

/* Horizonatal padding per page */
.px-page {
  @apply pl-zdefault;
  @apply pr-zdefault;
}

@screen md {
  .px-page {
    @apply pl-lg;
    @apply pr-lg;
  }
}

/* Vertical padding per page */
.py-page {
  @apply pt-zlg;
  @apply pb-zlg;
}

.py-page-w-button {
  @apply pt-zlg;
  padding-bottom: 27.75vmin;
}

@screen md {
  .py-page {
    @apply pt-lg;
    @apply pb-xl;
  }

  .py-page-w-button {
    @apply pt-lg;
    @apply pb-xl;
  }
}

/* Trick to get the stick header panel not to scroll over the footer */
.mb-screen {
  margin-bottom: 0;
}

@screen tall {
  .mb-screen {
    margin-bottom: 100vh;
  }
}

/* Trade off colors, start with second child since first child is sticky header */
.color-every-other-child:nth-child(odd) {
  @apply bg-golden-fizz-100;
}

.color-every-other-child:nth-child(even) {
  @apply bg-white;
}
