/* Logo in header */
.logo-width {
  width: 100%;

  @screen lg {
    width: 39.3vw;
  }
}

/* Conference button on mobile */
.conference-button-height {
  height: 21vmin;
}

.conference-button-section-height {
  height: calc(100vh - 21vmin);

  @screen lg {
    @apply min-h-tall;
  }

  @screen lg-tall {
    @apply min-h-screen;
  }
}

.conference-button-pb {
  padding-bottom: calc(21vmin + theme("spacing.base"));

  @screen lg {
    padding-bottom: theme("spacing.lg/xl");
  }
}

/* Alternate background colors */
.color-every-other-child:nth-of-type(even) {
  @apply bg-golden-fizz-100;
}

.color-every-other-child:nth-of-type(odd) {
  @apply bg-white;
}

/* Conference page */

.conference-image {
  @apply relative;
  /* @apply mb-base; */
  @apply overflow-hidden;
  flex: 0 0 100%;
  /* background image in element style */
  background-size: cover;
  background-blend-mode: saturation;

  @screen md {
    flex: 0 0 50%;
  }

  @screen lg {
    /* @apply mb-0; */
    flex: 0 0 33.333333%;
  }
}

/* https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox */
.conference-image:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.conference-sponsor {
  width: 20vmin;

  @screen lg {
    width: 20vw;
  }
}

.conference-schedule {
  @apply flex flex-col justify-between;
  height: 85vh;

  @screen lg {
    @apply h-full;
  }
}
