/* Logo in header */
.logo-width {
  width: 100%;

  @screen lg {
    width: 39.3vw;
  }
}

/* Conference button on mobile */
.conference-button-height {
  height: 21vmin;
}

.conference-button-padding {
  padding-bottom: calc(21vmin + theme("spacing.lg")) !important;

  @screen lg {
    padding-bottom: theme("spacing.lg/xl") !important;
  }
}

/* Trade off colors, start with second child since first child is sticky header */
.color-every-other-child:nth-child(even) {
  @apply bg-golden-fizz-100;
}

.color-every-other-child:nth-child(odd) {
  @apply bg-white;
}
