@import "./mixins/_animated-link.css";

.action-button .action-button_arrow {
  @apply ml-4;
  @apply transition-margin-left duration-300 ease-out;
}

.action-button:hover .action-button_arrow {
  @apply ml-6;
}

.see-more-button {
  @apply text-gray;

  &:hover {
    @apply text-black;
  }
}

.hover-link {
  &:hover {
    text-decoration: underline;
  }
}

/* .inline-link {
  text-decoration: underline;
} */

/* .animated-link {
  position: relative;
  @apply font-button;
}

.animated-link:after {
  content: "";
  @apply absolute;
  @apply right-full;
  @apply left-0;
  bottom: -1px;
  @apply border-solid border-t-3 border-black;
  @apply transition-right duration-300 ease-in;
}

@screen touch {
  .animated-link:after {
    @mixin animated-link-hover;
  }
}

.animated-link:hover:after {
  @mixin animated-link-hover;
}

.block-with-animated-link {
  &:hover .animated-link:after {
    @mixin animated-link-hover;
  }
}*/
