.logo {
  min-width: 291px;
  width: 89.72vw;
  max-width: 323px;

  @screen lg {
    min-width: 391px; /* <mock-width> * (<font-smallest> / <font-largest>) */
    width: 33.19vw; /* <mock-width> / <mock-viewport-width> */
    max-width: 479px; /* <mock-width> */
  }
}

.logo-short {
  min-width: 77px;
  width: 23.89vw;
  max-width: 86px;
}
