/* Apply styles to rendered markdown */

.md-container {
  @apply text-size-0;

  ul,
  ol,
  img,
  blockquote,
  table,
  p,
  hr {
    @apply mb-8;

    &:last-child {
      @apply mb-0;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-normal;
    @apply mt-2 mb-2;

    &:last-child {
      @apply mb-0;
    }
  }

  h1 {
    @apply text-size-4;
  }

  h2 {
    @apply text-size-3;
  }

  h3 {
    @apply text-size-2;
  }

  h4 {
    @apply text-size-1;
  }

  ul {
    @apply list-outside list-disc;
    padding-left: 1.2em;
  }

  ol {
    @apply list-outside list-decimal;
    padding-left: 1em;
  }

  .list-aligned {
    @apply list-inside;
    padding-left: 0;
  }

  li {
    @apply mb-4;

    ul,
    ol {
      @apply mt-4;
    }
  }

  img {
    @apply border rounded;
  }

  blockquote {
    @apply italic;
  }

  table {
    @apply table-auto;

    th {
      @apply px-2 pb-2;
    }

    td {
      @apply p-2;
    }

    td {
      @apply border;
    }
  }

  p {
    @apply break-words;
  }

  a:not(.animated-link) {
    text-decoration: underline;
  }
}
