/* Apply styles to rendered markdown */

.md-container {
  h1,
  h2,
  h3,
  h4,
  ul,
  ol,
  blockquote,
  p,
  hr {
    &:not(:last-child) {
      @apply mb-sm;

      @screen lg {
        @apply mb-lg/base;
      }
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-normal;
  }

  h1,
  h2 {
    &:not(:first-child) {
      @apply mt-lg;
    }

    @screen lg {
      &:not(:first-child) {
        @apply mt-lg/lg;
      }
    }
  }

  h1 {
    @apply text-3xl;

    @screen lg {
      @apply text-lg/3xl;
    }
  }

  h2 {
    @apply text-2xl;

    @screen lg {
      @apply text-lg/2xl;
    }
  }

  h3 {
    @apply text-xl;

    @screen lg {
      @apply text-lg/xl;
    }
  }

  h4 {
    @apply text-lg;

    @screen lg {
      @apply text-lg/lg;
    }
  }

  ul {
    @apply list-outside list-disc;
    padding-left: 1.2em;
  }

  ol {
    @apply list-outside list-decimal;
    padding-left: 1em;
  }

  .list-aligned {
    @apply list-inside;
    padding-left: 0;
  }

  li {
    @apply mb-sm;

    ul,
    ol {
      @apply mt-sm;

      @screen lg {
        @apply mt-lg/sm;
      }
    }

    @screen lg {
      @apply mb-lg/sm;
    }
  }

  img {
    @apply border rounded;
  }

  blockquote {
    @apply italic;
  }

  p {
    @apply break-words;
  }

  a:not(.animated-link) {
    text-decoration: underline;
  }
}
