/* Apply styles to rendered markdown */

.md-container {
  h1,
  h2,
  h3,
  h4,
  ul,
  ol,
  blockquote,
  p {
    &:not(:last-child) {
      @apply mb-sm;

      @screen lg {
        @apply mb-lg/base;
      }
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-normal;
  }

  h1,
  h2 {
    &:not(:first-child) {
      @apply mt-lg;
    }

    @screen lg {
      &:not(:first-child) {
        @apply mt-lg/lg;
      }
    }
  }

  h1 {
    @apply text-3xl;

    @screen lg {
      @apply text-lg/3xl;
    }
  }

  h2 {
    @apply text-2xl;

    @screen lg {
      @apply text-lg/2xl;
    }
  }

  h3 {
    @apply text-xl;

    @screen lg {
      @apply text-lg/xl;
    }
  }

  h4 {
    @apply text-lg;

    @screen lg {
      @apply text-lg/lg;
    }
  }

  ul {
    @apply list-inside list-disc;
  }

  ul ul {
    @apply list-disc;
    @apply ml-lg;

    @screen lg {
      @apply ml-lg/lg;
    }
  }

  ul ul ul {
    @apply list-disc;
  }

  ol {
    @apply list-inside list-decimal;
  }

  ol ol {
    list-style-type: upper-alpha;
    @apply ml-lg;

    @screen lg {
      @apply ml-lg/lg;
    }
  }

  ol ol ol {
    list-style-type: upper-roman;
  }

  ol ol ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol ol ol {
    list-style-type: lower-roman;
  }

  ol ol ol ol ol ol {
    list-style-type: lower-greek;
  }

  li {
    @apply mb-sm;

    @screen lg {
      @apply mb-lg/sm;
    }
  }

  li ol {
    @apply mt-sm;

    @screen lg {
      @apply mt-lg/sm;
    }
  }

  li ul {
    @apply mt-sm;

    @screen lg {
      @apply mt-lg/sm;
    }
  }

  img {
    @apply border rounded;
  }

  blockquote {
    @apply italic;
    @apply text-sm;

    @screen lg {
      @apply text-lg/sm;
    }
  }

  strong {
    @apply font-medium;
  }

  a:not(.animated-link) {
    text-decoration: underline;
  }
}
