.menu {
  @apply z-50;
  @apply fixed top-0 left-0;
  @apply flex;
  @apply w-screen;
  @apply h-screen;
  transform: translate(0, 100%);
  @apply transition-transform duration-500;

  @screen lg {
    @apply w-auto;
    transform: translate(calc(-100% + 24px), 0);

    &:hover {
      transform: translate(calc(-100% + 34px), 0);
    }
  }
}

.menu_open {
  transform: translate(0, 0);

  @screen lg {
    transform: translate(0, 0);

    &:hover {
      transform: translate(0, 0);
    }
  }
}

.menu-item_bottom {
  @apply pb-4;
  @apply border-b;

  &:hover {
    padding-bottom: calc(theme("spacing.4") - 1px);
    @apply border-b-2;
  }

  &:focus {
    padding-bottom: calc(theme("spacing.4") - 1px);
    @apply border-b-2;
  }
}
