.nav_container {
  @apply z-30;
  @apply fixed top-0 left-0;
  @apply flex items-center;
  @apply w-100vw h-100vh;
  @apply bg-golden-fizz-100;
  @apply overflow-y-auto;

  &.nav_closed {
    @apply hidden;
  }

  @screen lg {
    @apply absolute left-auto right-0;
    @apply flex-col justify-between items-stretch;
    @apply w-span5 h-auto;
    @apply pt-lg/xl pr-lg/lg pb-lg/xl pl-lg/sm;
    @apply bg-transparent;
    @apply overflow-y-hidden;

    &.nav_closed {
      @apply flex;
    }

    &.nav_hasCaller {
      @apply h-100vh min-h-tall;
    }
  }

  @screen lg-tall {
    &.nav_sticky {
      @apply sticky right-auto;
      @apply float-right;
    }
  }
}

.nav_close-button {
  @apply absolute top-0 right-0;
  @apply p-base;

  @screen lg {
    @apply hidden;
  }
}

.nav_close-button-img {
  width: 6vmin;
}

.nav_menu {
  @apply p-xl;
  @apply m-auto;
  @apply text-base;
  @apply uppercase;

  @screen lg {
    @apply flex justify-between;
    @apply p-0;
    @apply m-0;
    @apply text-lg/base;
  }
}

.nav_menu-item {
  @apply mt-base;

  @screen lg {
    @apply mt-0;
    @apply mr-lg/xs;

    &:hover {
      .nav_submenu {
        @apply block;
      }
    }
  }
}

.nav_submenu {
  @apply mt-xs;
  @apply ml-base;

  @screen lg {
    @apply mt-lg/xs;
    @apply ml-lg/sm;
    @apply hidden;
  }
}

.nav_submenu-item {
  @apply text-sm;
  @apply text-left;

  @screen lg {
    @apply text-lg/sm;
  }
}

.nav_moving-button-visible {
  @apply px-base py-sm;
  transform: translateY(0);
  transition: transform 500ms ease-in-out;
}

.nav_moving-button-hidden {
  @apply px-base py-0;
  transform: translateY(calc(-100% - theme("spacing.base")));
  transition: transform 500ms ease-in-out;
}
