@import "./mixins/_animated-link.css";

.oval {
  &_container {
    @apply hidden;

    @screen lg {
      @apply relative;
      @apply block;
    }

    &:hover .save-the-date_filled {
      @apply opacity-100;
    }

    &:hover .animated-link:after {
      @mixin animated-link-hover;
    }
  }

  &_shape {
    @apply absolute;
    top: -140%;
    width: 37vw;
    height: 18.5vw;
    @apply flex justify-center items-center;
    @apply border border-solid border-black rounded-50;
    transform: rotate(-10.56deg);
  }

  &_text {
    @apply uppercase;
    @apply font-display;
    font-size: 5.8vw;
  }

  &_stroked {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
  }

  /* Use psuedo-element to implement transition because text-fill-color cannot be animated */
  &_filled {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply opacity-0;
    @apply transition;
    @apply duration-200;
  }
}
