.save-the-date {
  @apply absolute;
  top: -172%;
  transform: rotate(-10.56deg);
  padding: 6vw 1vw;
  @apply border;
  @apply border-solid;
  @apply border-black;
  @apply rounded-50;
  @apply uppercase;
  @apply font-display;
  @apply text-4point5xl;
}

.save-the-date .save-the-date-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

/* Use psuedo-element to implement transition because text-fill-color cannot be animated */
.save-the-date .save-the-date-pseudo {
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply opacity-0;
  @apply transition;
  @apply duration-200;
}

.save-the-date:hover .save-the-date-pseudo {
  @apply opacity-100;
  @apply transition;
  @apply duration-500;
}
