@import "tailwindcss/base";

/* Global changes */
@import "./fonts.css";
@import "./global.css";
@import "./type-scale.css";

@import "tailwindcss/components";

/* Custom components */
@import "./logo.css";
@import "./menu.css";
@import "./about.css";
@import "./concept-marquee.css";
@import "./chapters.css";
@import "./kiosk.css";
@import "./events.css";
@import "./message-marquee.css";
@import "./twitter-marquee.css";
@import "./footer.css";

@import "tailwindcss/utilities";

/* Custom utilities */
@import "./markdown.css";
@import "./comma-separated.css";
@import "./link.css";
@import "./videos.css";
@import "./tiles.css";
@import "./blink.css";
