@import "tailwindcss/base";

/* Custom fonts */
@import "./fonts.css";

@import "tailwindcss/components";

/* Custom components */
@import "./layout.css";
@import "./inline.css";
@import "./modal.css";
@import "./nav.css";
@import "./save-the-date.css";

@import "tailwindcss/utilities";

/* Custom utilities */
@import "./columns.css";
@import "./markdown.css";
