@import "tailwindcss/base";

/* Global changes */
@import "./fonts.css";
@import "./global.css";
@import "./type-scale.css";
@import "./space-scale.css";

@import "tailwindcss/components";

/* Custom components */
@import "./layout2.css";
@import "./nav2.css";
@import "./home.css";
@import "./footer.css";
/* @import "./inline.css";
@import "./modal.css";
@import "./nav.css";
@import "./subscribe-modal.css";
@import "./speaker-bio-modal.css";
@import "./team-bio-modal.css";
@import "./sponsor-modal.css";
@import "./save-the-date.css";
@import "./conference-replay.css"; */

@import "tailwindcss/utilities";

/* Custom utilities */
/* @import "./columns.css"; */
@import "./markdown.css";
