.team {
  &_image {
    grid-column: 1 / -1;

    @screen lg {
      grid-column: margin 1 / gutter 7;
      @apply sticky top-0;
      @apply w-full;
    }
  }

  &_bio {
    grid-column: column 1 / margin 2;
    @apply mt-4 mb-24;

    @screen lg {
      grid-column: column 8 / margin 2;
      @apply mt-4 mb-8;
    }
  }
}
