.tile {
  @apply relative;
  @apply overflow-hidden;
  /* background image in element style. include linear-gradient(black, black) for grayscale */
  background-size: cover;
  background-blend-mode: saturation;
}

/* https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox */
.tile:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.circle {
 border-radius: 125px;
 -webkit-border-radius: 125px;
 -moz-border-radius: 125px;
}
