/* @link https://utopia.fyi/generator-mk-ii?c=320,21,1.2,1140,24,1.25,5,2, */

:root {
  --type-min-width: 320;
  --type-max-width: 1140;

  --type-screen: 100vw;
  --type-bp: calc(
    (var(--type-screen) - var(--type-min-width) / 16 * 1rem) /
      (var(--type-max-width) - var(--type-min-width))
  );
}

@media screen and (min-width: 1140px) {
  :root {
    --type-screen: calc(var(--type-max-width) * 1px);
  }
}

:root {
  --ft--2-min: 14.58;
  --ft--2-max: 15.36;
  --step-type--2: calc(
    ((var(--ft--2-min) / 16) * 1rem) + (var(--ft--2-max) - var(--ft--2-min)) *
      var(--type-bp)
  );

  --ft--1-min: 17.5;
  --ft--1-max: 19.2;
  --step-type--1: calc(
    ((var(--ft--1-min) / 16) * 1rem) + (var(--ft--1-max) - var(--ft--1-min)) *
      var(--type-bp)
  );

  --ft-0-min: 21;
  --ft-0-max: 24;
  --step-type-0: calc(
    ((var(--ft-0-min) / 16) * 1rem) + (var(--ft-0-max) - var(--ft-0-min)) *
      var(--type-bp)
  );

  --ft-1-min: 25.2;
  --ft-1-max: 30;
  --step-type-1: calc(
    ((var(--ft-1-min) / 16) * 1rem) + (var(--ft-1-max) - var(--ft-1-min)) *
      var(--type-bp)
  );

  --ft-2-min: 30.24;
  --ft-2-max: 37.5;
  --step-type-2: calc(
    ((var(--ft-2-min) / 16) * 1rem) + (var(--ft-2-max) - var(--ft-2-min)) *
      var(--type-bp)
  );

  --ft-3-min: 36.29;
  --ft-3-max: 46.88;
  --step-type-3: calc(
    ((var(--ft-3-min) / 16) * 1rem) + (var(--ft-3-max) - var(--ft-3-min)) *
      var(--type-bp)
  );

  --ft-4-min: 43.55;
  --ft-4-max: 58.59;
  --step-type-4: calc(
    ((var(--ft-4-min) / 16) * 1rem) + (var(--ft-4-max) - var(--ft-4-min)) *
      var(--type-bp)
  );

  --ft-5-min: 52.25;
  --ft-5-max: 73.24;
  --step-type-5: calc(
    ((var(--ft-5-min) / 16) * 1rem) + (var(--ft-5-max) - var(--ft-5-min)) *
      var(--type-bp)
  );
}
