.navItem {
  width: 100%;
}

.linkContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 2rem;
}
.linkContainer:hover {
  opacity: 0.5;
}

.innerLinks {
  display: block;
  line-height: 1.6;
  font-weight: 400;
  margin-left: 1rem;
}

.wiki {
  article {
    display: inline-block !important;
  }

  .wiki-page {
    display: inline-block !important;
  }
}
