---
layout: layouts/_base.njk
title: Vision
headerText: Our Vision
introductionBlurb: |
  **The future needs all of us: enabling human agency and creativity in all its dazzling diversity is essential to addressing today's polycrises.**

  We spark imagination for transformative systems change. Through our experiments and collaborations, we are building the foundations of the next economy, a revitalized democracy, a stronger commons, and decentralized systems that bring today's institutions into the 21st century.
valuesBlurb: |
  **As part of our Strategic Alignment for 2026 and beyond, RxC is renewing our Values and Principles — based on your feedback.**

  We invite you to help us re-articulate the core values of RadicalxChange throughout the month of October 2025. Join the conversation on [Agora Citizen Network](https://agoracitizen.network/).
theoryOfChange: |
  **The future of democracy depends on empowering individuals and communities to shape their worlds. Today's polycrisis creates an opening for people to imagine and build better futures.**

  Transformative change comes from developing, testing, and mainstreaming new ideas with communities, social movements, and networks.

  RxC provides communities of all kinds with practical methods and policy frameworks to enable active participation, consensus-building, sharing and self-government.
quote1: |
  “Rapid, transformative change is most likely to happen when a **Crisis** occurs in conjunction with disruptive **Movements** and visionary **Ideas** permeating society. None of them alone is sufficient.”

  - Roman Krznaric, *History for Tomorrow*, 2024
quote2: |
  “Technology and democracy are trapped between two sides of a widening gulf. That divide is damaging both sides of the conflict, undermining democracy and slowing technological development. As collateral damage, it is retarding economic growth, undermining confidence in social institutions and fueling inequality… Another path is possible. Technology and democracy can be each other's greatest allies.”

  - *E. Glen Weyl and Audrey Tang, 2024*  
whyThisMatters: |
  **We face a polycrisis, and the very conditions that created it now block solutions: concentrated market power, centralized decision-making and corrosive political polarization.**

  19th- and 20th-century forms of markets and democracy have failed to meet today's challenges, eroding public faith in traditional governance. The rise of autocracy makes it urgent to upgrade our institutions to overcome gridlock and deliver on the common good.
quote3: |
  “A first set of institutional innovations raises the temperature of politics: the level of organized popular engagement in political life… A second set of institutional innovations hastens the pace of politics. It engages the electorate and the representative institutions in the rapid and decisive breaking of impasse between parts of the state…. A third set of institutional innovations seeks to combine a facility for decisive action by the central government with radical devolution in the service of democratic experimentalism.”

  [*Roberto Mangabeira Unger, 2024*](https://americanaffairsjournal.org/2024/02/overthrowing-the-dictatorship-of-no-alternatives/)
quote4: |
  “A disorganized society cannot generate alternatives or act on them. The effort to democratize the market and to deepen democracy must be complemented by the self-organization of civil society outside both the market and the state. The accumulation of social capital—that is, of associational density and of the collective capabilities that it sustains—is not a trait of national culture beyond the reach of transformative initiative. It is a variable that responds to institutional innovation.”

  [*Roberto Mangabeira Unger, 2024*](https://americanaffairsjournal.org/2024/02/overthrowing-the-dictatorship-of-no-alternatives/)
---

<!-- prettier-ignore -->
{% import "components/introduction.njk" as introduction %}
<!-- prettier-ignore -->
{% import "components/action-button.njk" as actionButton %}
<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<!-- prettier-ignore -->
{{ introduction.render(headerText, introductionBlurb) }}
<section
  id="values-and-principles"
  class="grid grid-cols-layout-4 lg:grid-cols-layout-12 pt-4 lg:pt-4 pb-12 lg:pb-0 my-margin"
>
  <div class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-4 mb-4 lg:mb-0">
    <h2 class="pb-4 lg:pb-0 border-b lg:border-b-0">Our Values and Principles</h2>
  </div>
  <div class="col-span-columns lg:col-start-column-5 lg:col-end-margin-2 mb-12 lg:mb-16">
    <div class="markdown">
      {{ valuesBlurb | markdown | safe }}
    </div>
  </div>
  <div class="col-span-columns pb-12 lg:pb-16 lg:border-b"></div>
</section>
<section
  id="theory-of-change"
  class="grid grid-cols-layout-4 lg:grid-cols-layout-12 pt-4 lg:pt-4 pb-12 lg:pb-0 my-margin"
>
  <div class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-4 mb-4 lg:mb-0">
    <h2 class="pb-4 lg:pb-0 border-b lg:border-b-0">Our Theory of Change</h2>
  </div>
  <div class="col-span-columns lg:col-start-column-5 lg:col-end-margin-2 mb-12 lg:mb-16">
    <div class="markdown">
      {{ theoryOfChange | markdown | safe }}
    </div>
  </div>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-6 mb-12 lg:mb-0"
  >
    <div class="markdown">
      {{ quote1 | markdown | safe }}
    </div>
  </div>

  <div class="col-span-columns lg:col-start-column-7 lg:col-end-margin-2">
    <div class="markdown">
      {{ quote2 | markdown | safe }}
    </div>
  </div>
  <div class="col-span-columns pb-12 lg:pb-16 lg:border-b"></div>
</section>
<section
  id="why-this-matters"
  class="grid grid-cols-layout-4 lg:grid-cols-layout-12 pt-4 lg:pt-4 pb-12 lg:pb-0 my-margin"
>
  <div class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-4 mb-4 lg:mb-0">
    <h2 class="pb-4 lg:pb-0 border-b lg:border-b-0">Why This Work Matters Now</h2>
  </div>
  <div class="col-span-columns lg:col-start-column-5 lg:col-end-margin-2 mb-12 lg:mb-16">
    <div class="markdown">
      {{ whyThisMatters | markdown | safe }}
    </div>
  </div>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-6 mb-12 lg:mb-0"
  >
    <div class="markdown">
      {{ quote3 | markdown | safe }}
    </div>
  </div>

  <div class="col-span-columns lg:col-start-column-7 lg:col-end-margin-2">
    <div class="markdown">
      {{ quote4 | markdown | safe }}
    </div>
  </div>
  <div class="col-span-columns pb-12 lg:pb-16 lg:border-b"></div>
</section>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
