<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/images/logos/favicon.png" />
    <link
      rel="preload"
      href="/fonts/MesserV20-Condensed.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/suisseintl-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/suisseintl-regularitalic-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/suisseintl-bold-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/suisseintl-bolditalic-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- prettier-ignore -->
    {% block metaTags %}
    <meta
      name="description"
      content="{{ description | default(metadata.defaultDescription) }}"
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="{{ ogType | default('website') }}" />
    <meta
      property="og:title"
      content="{{ title | default('RadicalxChange') }}"
    />
    <meta property="og:site_name" content="RadicalxChange" />
    <meta property="og:url" content="{{ metadata.url + page.url }}" />
    <meta
      property="og:image"
      content="{{ metadata.url }}/images/logos/open-graph-logo.png"
    />
    <meta
      property="og:image:secure_url"
      content="{{ metadata.url }}/images/logos/open-graph-logo.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta
      property="og:description"
      content="{{ description | default(metadata.defaultDescription) }}"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="{{ title | default('RadicalxChange') }}"
    />
    <meta name="twitter:site" content="@radxchange" />
    <meta
      name="twitter:image"
      content="{{ metadata.url }}/images/logos/open-graph-logo.png"
    />
    <meta name="twitter:creator" content="@radxchange" />
    <meta
      name="twitter:description"
      content="{{ description | default(metadata.defaultDescription) }}"
    />
    <!-- prettier-ignore -->
    {% endblock %}
    <!-- prettier-ignore -->
    {% block headScripts %}
    <script
      src="https://unpkg.com/body-scroll-lock@3.0.2/lib/bodyScrollLock.min.js"
      integrity="sha384-TPD9y0kmdvgK9D4a+br/KYlqMn9cLVXHDVxxN93FvPj+13bPJeMJZaXAB7+p/e7X"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://rabbit.radicalxchange.org/script.js"
      site="SQHLZNME"
      included-domains="www.radicalxchange.org"
      defer
    ></script>
    <!-- prettier-ignore -->
    {% endblock %}
    <!-- prettier-ignore -->
    {% block styles %}
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- prettier-ignore -->
    {% endblock %}
    <!-- prettier-ignore -->
    {% block otherHead %}
    <!-- prettier-ignore -->
    {% endblock %}
    <title>
      {{ title + " - RadicalxChange" if title else "RadicalxChange"}}
    </title>
  </head>
  <!-- prettier-ignore -->
  <body class="font-body font-normal text-size-0 {{ bodyBg }}">
    <!-- prettier-ignore -->
    {% block body %}
    {{ content | safe }}
    <!-- prettier-ignore -->
    {% endblock %}
  </body>
</html>
