---
permalink: "updates/announcements/{{ slug | defaultSlug: title }}/index.html"
---
{% set kind = "Announcement" %}{% set backHref = "/updates/" %}{% set backLabel = "Updates" %}{% set pagefindType = "Announcement" %}
{% extends "layouts/_article.njk" %}
