---
permalink: "kiosk/announcements/{{ slug | defaultSlug: title }}/index.html"
---

<!-- prettier-ignore -->
{% import "components/scroll-indicator.njk" as scrollIndicator %}
<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% set ogType="article" %}

<!-- prettier-ignore -->
{% block metaTags %}
<!-- prettier-ignore -->
{{ super() }}
<meta property="og:article:published_time" content="{{ date }}" />
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<!-- prettier-ignore -->
{{ scrollIndicator.render() }}
<!-- prettier-ignore -->
{{ closeButton.render("/kiosk") }}
<div
  class="grid grid-cols-layout-4 lg:grid-cols-layout-16 py-margin lg:py-lg/margin mb-24 lg:mb-0"
>
  <article
    class="col-span-columns lg:col-start-column-4 lg:col-end-gutter-13 markdown markdown-sm"
  >
    <header>
      <h1>{{ postHeader }}</h1>
      <p>{{ date | readableDate }}</p>
    </header>
    {{ content | markdown | safe }}
  </article>
</div>
<script>
  // prettier-ignore
  {% include "components/hash-as-scroll.js" %}
</script>
<script>
  // prettier-ignore
  {% include "components/scroll-indicator.js" %}
</script>
<script>
  // prettier-ignore
  {% include "components/close-button.js" %}
</script>
<!-- prettier-ignore -->
{% endblock %}
