---
permalink: "updates/blog/{{ slug | defaultSlug: title }}/index.html"
---
{% set kind = "Blog" %}{% set backHref = "/updates/" %}{% set backLabel = "Updates" %}{% set pagefindType = "Blog Post" %}
{% extends "layouts/_article.njk" %}
