---
permalink: "projects/{{ slug | defaultSlug: title }}/index.html"
---
{% set kind = "Case study" %}{% set backHref = "/projects/" %}{% set backLabel = "Projects" %}{% set pagefindType = "Project" %}
{% extends "layouts/_article.njk" %}
