<!-- prettier-ignore -->
{% import "components/call-to-action.njk" as callToAction %}

<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

{% set mailtoChapter %}
mailto:chapters@radicalxchange.org?subject=Interested%20in%20the%20{{
  headerText | urlencode
}}%20Chapter&body=Hello!%20I'm%20interested%20in%20joining%20the%20RadicalxChange%20{{
  headerText | urlencode
}}%20chapter.%20Can%20you%20put%20me%20in%20contact%20with%20their%20organizers%3F%0D%0A%0D%0AThank%20you!
{% endset %}

<!-- prettier-ignore -->
{% block content %}
<div>
  <div class="markdown mb-lg lg:mb-lg/lg">
    {{ content | markdown | safe }}
  </div>
  <!-- prettier-ignore -->
  {% call callToAction.render() %}
  <!-- prettier-ignore -->
  {% call callToAction.item() %}
  <a
    class="animated-link uppercase"
    href="{{ meetupUrl | defaultHref(mailtoChapter) }}"
    >Join the chapter</a
  >
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call callToAction.item() %}
  <a
    class="animated-link"
    href="{{ contactOrganizer | defaultHref(mailtoChapter) }}"
    >Contact organizers</a
  >
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call callToAction.item() %}
  <a class="animated-link" href="https://twitter.com/{{ twitter }}"
    >Follow on Twitter</a
  >
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% endcall %}
</div>
<!-- prettier-ignore -->
{% endblock %}
