<!-- prettier-ignore -->
{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% block scripts %}
<!-- Don't need scripts -->
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block styles %}
<!-- Don't need styles -->
<!-- prettier-ignore -->
{% endblock %}
