<!-- prettier-ignore -->
{% import "components/nav.njk" as nav %}
<!-- prettier-ignore -->
{% import "components/header.njk" as header %}
<!-- prettier-ignore -->
{% import "components/section.njk" as section %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}
<!-- prettier-ignore -->
{% import "components/modal.njk" as modal %}
<!-- prettier-ignore -->
{% import "components/subscribe-modal.njk" as subscribeModal %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/body-scroll-lock@3.0.2/lib/bodyScrollLock.min.js"
      integrity="sha384-TPD9y0kmdvgK9D4a+br/KYlqMn9cLVXHDVxxN93FvPj+13bPJeMJZaXAB7+p/e7X"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="font-body font-normal text-base lg:text-lg/base leading-snug">
    <main>
      <!-- prettier-ignore -->
      {% call nav.render() %}
      <!-- prettier-ignore -->
      {% endcall %}
      <!-- prettier-ignore -->
      {% call header.render(headerText) %}
      <div class="md-container font-light">
        {{ content | markdown | safe }}
      </div>
      {% endcall %}
      <!-- prettier-ignore -->
      {{ nav.menuButton() }}
    </main>
    <!-- prettier-ignore -->
    {% call footer.render("bg-white") %}
    <!-- prettier-ignore -->
    {% endcall %}
    <!-- prettier-ignore -->
    {% call modal.render('subscribe') %}
    <!-- prettier-ignore -->
    {% call subscribeModal.render() %}
    <!-- prettier-ignore -->
    {% endcall %}
    <!-- prettier-ignore -->
    {% endcall %}
    <script>
      // prettier-ignore
      {% include "components/nav.js" %}
      // prettier-ignore
      {% include "components/modal.js" %}
    </script>
  </body>
</html>
