<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% block content %}
<div class="md-container">
  {{ content | markdown | safe }}
</div>
<!-- prettier-ignore -->
{% endblock %}
