<!-- prettier-ignore -->
{% import "components/nav.njk" as nav %}
<!-- prettier-ignore -->
{% import "components/header.njk" as header %}
<!-- prettier-ignore -->
{% import "components/section.njk" as section %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}
<!-- prettier-ignore -->
{% import "components/modal.njk" as modal %}
<!-- prettier-ignore -->
{% import "components/subscribe-modal.njk" as subscribeModal %}

<!-- prettier-ignore -->
{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% block body %}
<main>
  <!-- prettier-ignore -->
  {% call nav.render() %}
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call header.render(headerText) %}
  <div class="md-container font-light">
    {{ content | markdown | safe }}
  </div>
  {% endcall %}
  <!-- prettier-ignore -->
  {{ nav.menuButton() }}
</main>
<!-- prettier-ignore -->
{% call footer.render("bg-white") %}
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% call modal.render('subscribe') %}
<!-- prettier-ignore -->
{% call subscribeModal.render() %}
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% endcall %}
<script>
  // prettier-ignore
  {% include "components/nav.js" %}
  // prettier-ignore
  {% include "components/modal.js" %}
</script>
<!-- prettier-ignore -->
{% endblock %}
