---
permalink: "tools/{{ slug | defaultSlug: title }}/index.html"
---
{% set kind = "Mechanism" %}{% set backHref = "/tools/" %}{% set backLabel = "Plural tools" %}{% set pagefindType = "Tool" %}
{% extends "layouts/_article.njk" %}
