---
permalink: "methods-and-tools/{{ slug | defaultSlug: title }}/index.html"
---

<!-- prettier-ignore -->
{% import "components/scroll-indicator.njk" as scrollIndicator %}
<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% set ogType="article" %}

<!-- prettier-ignore -->
{% block metaTags %}
<!-- prettier-ignore -->
{{ super() }}
<meta property="og:article:author" content="{{ RadicalxChange }}" />
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<!-- prettier-ignore -->
{{ scrollIndicator.render() }}
<!-- prettier-ignore -->
{{ closeButton.render("/tools") }}
<div
  class="grid grid-cols-layout-4 lg:grid-cols-layout-16 py-margin lg:py-lg/margin mb-24 lg:mb-0"
>
  <article
    class="col-span-columns lg:col-start-column-4 lg:col-end-gutter-12 markdown markdown-sm"
  >
    <header>
      <h1>{{ postHeader }}</h1>
    </header>
    {{ content | markdown | latex | safe }}
  </article>
  <aside id="table-of-contents_container" class="hidden lg:sticky lg:col-start-column-13 lg:col-end-gutter-15">
    <ul id="table-of-contents" class="list-none pl-4 pr-1 mt-20 mb-12 border-l text-size--1">
    </ul>
  </aside>
</div>
<script>
  var tocContainer = document.getElementById("table-of-contents");
  var toc = document.getElementById("toc");
  tocContainer.appendChild(toc);
</script>
<script>
  // prettier-ignore
  {% include "components/hash-as-scroll.js" %}
</script>
<script>
  // prettier-ignore
  {% include "components/scroll-indicator.js" %}
</script>
<script>
  // prettier-ignore
  {% include "components/close-button.js" %}
</script>
<!-- prettier-ignore -->
{% endblock %}