<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% block body %}
<!-- prettier-ignore -->
{{ closeButton.render(closeHref) }}
<div
  class="grid grid-cols-layout-4 lg:grid-cols-layout-16 pt-margin pb-32 lg:py-lg/margin"
>
  <article
    class="col-span-columns lg:col-start-column-4 lg:col-end-gutter-13 markdown markdown-sm"
  >
    <header>
      <h1>{{ headerText }}</h1>
    </header>
    {{ content | markdown | safe }}
  </article>
</div>
<!-- prettier-ignore -->
{% endblock %}
