---
permalink: "wiki/{{ slug }}/index.html"
---
{% set kind = "Library" %}{% set backHref = "/wiki/" %}{% set backLabel = "Library" %}{% set pagefindType = "Wiki" %}
{% extends "layouts/_article.njk" %}
{% block articleBody %}{{ content | markdown | safe }}{% endblock %}
{% block aside %}
<h4>In the Library</h4>
<ul>
{% for item in wikiLinks %}{% if item.to %}<li><a href="{{ item.to }}"{% if page.url == item.to or page.url == item.to + '/' %} aria-current="page" style="font-weight:600"{% endif %}>{{ item.id }}</a></li>{% endif %}{% endfor %}
</ul>
<p><a href="{{ page.inputPath | editPath }}">Edit this page on GitHub</a></p>
{% endblock %}
