<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{% macro render(chapters, closeHref) %}
<!-- prettier-ignore -->
{{ closeButton.render(closeHref) }}
<div
  class="grid grid-cols-layout-4 lg:grid-cols-layout-12 py-margin lg:py-lg/margin mb-24 lg:mb-0 font-book"
>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-3 xl:col-end-gutter-2 mb-8 lg:mb-4 space-y-line-1"
  >
    <p>Find your local chapter</p>
    <ul class="text-size--1 lg:text-size--2 space-y-line-1">
      <li>
        <a
          href="https://forms.gle/UQ6FtuC7rEf42cqE9"
          class="uppercase thick-link"
        >
          Start a new chapter</a
        >
      </li>
      <li>
        <a href="/community/code-of-conduct" class="uppercase thick-link"
          >Review our code of conduct</a
        >
      </li>
    </ul>
  </div>
  <div
    class="chapters_list col-span-columns lg:col-start-column-4 xl:col-start-column-3 lg:col-end-gutter-10 flex flex-col lg:flex-wrap"
  >
    <!-- prettier-ignore -->
    {% for key, chapters in chapters %}
    <div class="lg:w-1/3 xl:w-1/4 pb-4 lg:pr-8">
      <h4 class="border-b text-size--1 lg:text-size--2 uppercase">{{ key }}</h4>
      <ul>
        <!-- prettier-ignore -->
        {% for chapter in chapters %}
        <!-- prettier-ignore -->
        {% set mailtoChapter %}mailto:chapters@radicalxchange.org?subject=Interested%20in%20the%20{{
          chapter.headerText | urlencode
        }}%20Chapter&body=Hello!%20I'm%20interested%20in%20joining%20the%20RadicalxChange%20{{
          chapter.headerText | urlencode
        }}%20chapter.%20Can%20you%20put%20me%20in%20contact%20with%20their%20organizers%3F%0D%0A%0D%0AThank%20you!{%
        endset %}
        <!-- prettier-ignore -->
        <li class="my-1 text-size--1 lg:text-size--2">
          <a
            href="{{ chapter.meetupUrl | defaultHref(mailtoChapter) }}"
            target="{{ '_self' if chapter.meetupUrl !== '#' else '_blank' }}"
          >
            {{ chapter.headerText }}</a
          >
        </li>
        <!-- prettier-ignore -->
        {% endfor %}
      </ul>
    </div>
    <!-- prettier-ignore -->
    {% endfor %}
  </div>
</div>
<script>
  // prettier-ignore
  {% include "components/close-button.js" %}
</script>
<!-- prettier-ignore -->
{% endmacro %}
