<!-- prettier-ignore -->
{% macro render(href, text="Close") %}
<div
  class="z-10 fixed flex justify-center lg:top-0 right-0 bottom-0 lg:bottom-auto w-full lg:w-auto lg:mt-lg/margin lg:mr-lg/margin mb-margin lg:mb-0"
>
  <a
    class="block py-2 px-7 lg:px-6 bg-black rounded-oval text-white text-size--1 lg:text-size--2 uppercase"
    href="{{ href }}"
    >{{ text }}</a
  >
</div>
<!-- prettier-ignore -->
{% endmacro %}
