<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{% macro render(concept) %}
<!-- prettier-ignore -->
{{ closeButton.render(href="/concepts") }}
<div
  class="relative grid grid-cols-layout-4 lg:grid-cols-layout-12 lg:content-between min-h-screen pt-margin lg:pt-lg/margin pb-2"
>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-7 mb-line-2 lg:mb-0"
  >
    <header class="mb-line-1">
      <h1>{{ concept.title }}</h1>
    </header>
    <div class="markdown markdown-sm">
      {{ concept.description | markdown | safe }}
    </div>
  </div>
  <aside class="col-span-columns lg:col-start-column-8 lg:col-end-margin-2">
    <h2 class="mb-line-1">Tools</h2>
    <ul class="text-size--1 space-y-line-1/2">
      {% for tool in concept.tools %}
      <li class="space-y-line-1 pb-line-3/2 border-b">
        <h3>{{ tool.title }}</h3>
        <p>{{ tool.description }}</p>
        <ul class="flex space-x-4">
          {% for link in tool.links %}
          <li>
            <a class="animated-link uppercase" href="{{ link.href }}">
              {{ link.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </aside>
  <div class="col-span-columns mt-8">
    <p class="text-center text-size--3">
      © 2020 RadicalxChange Foundation Ltd.
    </p>
    <p class="text-center text-size--3">
      RadicalxChange Foundation Ltd., a 501(c)(3) nonprofit organization, does
      not support or oppose candidates for public office or political parties.
    </p>
  </div>
  <!-- prettier-ignore -->
  {% endmacro %}
</div>
