<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{% macro render(concept) %}
<!-- prettier-ignore -->
{{ closeButton.render(href="/concepts", text="Back to Concepts") }}
<div
  class="relative grid grid-cols-layout-4 lg:grid-cols-layout-12 content-start lg:content-between lg:min-h-screen pt-margin lg:pt-lg/margin pb-margin lg:pb-2 mb-24 lg:mb-0"
>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-7 mb-line-2 lg:mb-0"
  >
    <header class="mb-line-1">
      <h1>{{ concept.title }}</h1>
    </header>
    <div class="markdown markdown-sm">
      {{ concept.description | markdown | safe }}
    </div>
  </div>
  <aside class="col-span-columns lg:col-start-column-8 lg:col-end-margin-2">
    <h2 class="mb-line-1">Tools</h2>
    <ul class="text-size--1 space-y-line-1/2">
      {% for tool in concept.tools %}
      <li class="space-y-line-1 pb-line-3/2 border-b">
        <h3>
          <a class="thick-link" href="{{ tool.href }}">{{ tool.title }}</a>
        </h3>
        <p>{{ tool.description }}</p>
        {% if tool.links.length > 0 %}
        <ul class="flex space-x-4">
          {% for link in tool.links %}
          <li>
            <a class="thick-link uppercase" href="{{ link.href }}">
              {{ link.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
      <!-- prettier-ignore -->
      {% if (concept.tools | length) === 0 %}
      <li>No tools at this time</li>
      {% endif %}
    </ul>
  </aside>
  <div class="col-span-columns hidden lg:block mt-8">
    <p class="text-center text-size--3">
      © 2020 RadicalxChange Foundation Ltd.
    </p>
    <p class="text-center text-size--3">
      RadicalxChange Foundation Ltd., a 501(c)(3) nonprofit organization, does
      not support or oppose candidates for public office or political parties.
    </p>
  </div>
</div>
<!-- prettier-ignore -->
{% endmacro %}
