<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{% macro render(concept) %}
<!-- prettier-ignore -->
{{ closeButton.render(href="/concepts") }}
<main class="concept-page">
  <div class="concept-page_title focus:outline-none mb-8 lg:mb-0">
    {{ concept.title }}
  </div>
  <div class="col-span-columns relative lg:col-end-gutter-7 my-8">
    <div class="markdown mb-8 lg:mb-16">
      {{ concept.description | markdown | safe }}
    </div>
    <div class="text-size-0 lg:absolute lg:pt-8 lg:bottom-0">
      TOOLS READINGS
    </div>
  </div>
  <div
    class="col-span-margins row-start-2 lg:col-start-column-8 lg:col-end-margin-2 lg:w-full lg:border-l"
  >
    <img
      class="lg:sticky lg:top-0 w-full"
      src="/images/team/{{ concept.image }}"
    />
  </div>
  <div class="col-start-column-1 col-end-margin-2 lg:border-b"></div>
</main>
<section id="tools-and-readings" class="mb-32">
  <ul class="concept-page_list">
    <!-- prettier-ignore -->
    {% for item in concept.toolsAndReadings %}
    <li class="concept-page_list_item col-span-columns lg:col-span-1">
      <div class="text-size-0">{{ item.title }}</div>
      <div class="text-size-0 py-8">{{ item.description }}</div>
      <ul class="flex space-x-4">
        <!-- prettier-ignore -->
        {% for link in item.links %}
        <a class="inline-block" href="{{ link.href }}">
          <span class="hover-link uppercase">{{ link.platform }}</span>
        </a>
        <!-- prettier-ignore -->
        {% endfor %}
      </ul>
    </li>
    <!-- prettier-ignore -->
    {% endfor %}
  </ul>
</section>
<!-- prettier-ignore -->
{% endmacro %}
