<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/conference-menu.njk" as menu %}

<!-- prettier-ignore -->
{% macro render(venue, pagination) %}
<!-- prettier-ignore -->
{{ menu.render() }}
<div
  class="relative grid grid-cols-layout-4 lg:grid-cols-layout-12 grid-rows-auto/auto content-between min-h-screen py-margin lg:py-lg/margin"
>
  <div id="sidebar" class="conference_menu">
    <div class="w-full">
      <button class="bg-black w-full">
        <a href="/2021-conference">
          <h1 class="font-display uppercase text-center my-4 text-size-4 text-white">
            2021 Annual Conference
          </h1>
        </a>
      </button>
    </div>
    <div class="mb-auto ml-4 mr-8 text-center">
      <button class="conference_button">
        <a href="/2021-conference/taipei">
          <p class="text-white uppercase text-size--2 m-2">Taipei Event</p>
        </a>
      </button>
      <button class="conference_button">
        <a href="/2021-conference/online">
          <p class="text-white uppercase text-size--2 m-2">Online Event</p>
        </a>
      </button>
      <button class="conference_button">
        <a href="/2021-conference/denver">
          <p class="text-white uppercase text-size--2 m-2">Denver Event</p>
        </a>
      </button>
      <button class="conference_button">
        <a href="/events/2021-conference/faq">
          <p class="text-white uppercase text-size--2 m-2">FAQ</p>
        </a>
      </button>
    </div>
  </div>
  <header class="col-span-columns mb-8">
    <a href="/">
      {{ logo.render(classes="hidden lg:inline-block align-top") }}
    </a>
    <h1 class="font-display uppercase mt-32 text-size-display lg:text-size-xl/display">
      {{ venue.title }}
    </h1>
  </header>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-column-8 space-y-line-3/2"
  >
    <p class="font-bold">Where: {{ venue.location }}</p>
    <p class="font-bold">When: {{ venue.datetime }}</p>
    <div class="markdown markdown-sm font-bold text-justify">
      {{ venue.introductionBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a
          href="{{ venue.eventbrite }}"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <p class="text-white uppercase text-size--2 m-2">Get Ticket</p>
        </a>
      </button>
    </div>
    <p class="font-bold uppercase">The format</p>
    <div class="markdown markdown-sm">
      {{ venue.formatBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a href="/events/2021-conference/faq">
          <p class="text-white uppercase text-size--2 m-2">See FAQ</p>
        </a>
      </button>
    </div>
    <p class="font-bold uppercase">Who will be there</p>
    <div class="markdown markdown-sm">
      {{ venue.personnelBlurb | markdown | safe }}
    </div>
    <p class="font-bold">
      In the event of increased COVID-19 restrictions for in-person gatherings, we will move the physical meeting(s) online.
    </p>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a href="#topics">
          <p class="text-white uppercase text-size--2 m-2">See topics</p>
        </a>
      </button>
    </div>
    <div>
      <p class="font-bold uppercase">Additional programming</p>
      <p class="mt-0">RxC TV</p>
    </div>
    <div class="markdown markdown-sm">
      {{ venue.rxcTvBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a
          href="{{ venue.eventbrite }}"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <p class="text-white uppercase text-size--2 m-2">Get Ticket</p>
        </a>
      </button>
    </div>
    <p class="font-bold uppercase">More about RadicalxChange</p>
    <div class="markdown markdown-sm">
      {{ venue.rxcBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a href="/">
          <p class="text-white uppercase text-size--2 m-2">Learn more</p>
        </a>
      </button>
    </div>
    <!-- prettier-ignore -->
    {% if venue.title == "Taipei" %}
    <p class="font-bold uppercase">More about g0v jothon</p>
    <div class="markdown markdown-sm">
      g0v Hackathon organizers “jothon” is the task force of g0v.tw bi-monthly hackathons since 2012. There are 8 persons in the team with different types of professions, like elite hackers, lawyer, NPO/NGO activist, writers, filmmakers, arts administrator and city planner. The team also work on g0v community infrastructure, g0v Civic Tech Prototype Grant and Sch001.
    </div>
    <div class="markdown markdown-sm">
      關於 g0v 零時政府揪松團
      g0v 零時政府揪松團（g0v jothon）是 g0v 社群籌辦雙月 g0v 黑客松（g0v Hackathon）和基礎建設松（g0v infrathon）的工作小組，自 2012 年開始協助社群籌辦黑客松，2014 年正式組成「揪松團」，2016 年起，啟動社群基礎建設計畫，開辦「基礎建設松」，並於同年底推出「公民科技創新獎助金（Civic Tech Prototype Grant）」 。2020 年開辦「零時小學校（Sch001）」。
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a
          href="https://g0v.tw/"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <p class="text-white uppercase text-size--2 m-2">Learn more</p>
        </a>
      </button>
    </div>
    <!-- prettier-ignore -->
    {% endif %}
    <!-- prettier-ignore -->
    {% if venue.title == "Denver" %}
    <p class="font-bold uppercase">COVID Protocols</p>
    <div class="markdown markdown-sm">
      {{ venue.COVIDprotocols | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a
          href="{{ venue.eventbrite }}"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <p class="text-white uppercase text-size--2 m-2">Get Ticket</p>
        </a>
      </button>
    </div>
    <!-- prettier-ignore -->
    {% endif %}
    <p id="topics" class="font-bold uppercase">Potential Discussion Topics</p>
    <div class="markdown markdown-sm">
      The agenda is co-created by participants on the day of the event using a process called Open Space Technology. Below is a running list of potential topics suggested by registered attendees.
    </div>
    <div class="markdown markdown-sm">
      {{ venue.topics | markdown | safe }}
    </div>
    {{ caller() if caller }}
  </div>
</div>
<script>
  // prettier-ignore
  {% include "components/close-button.js" %}
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
<!-- prettier-ignore -->
{% endmacro %}
