<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/conference-menu.njk" as menu %}

<!-- prettier-ignore -->
{% macro render(venue, pagination) %}
<!-- prettier-ignore -->
{{ menu.render() }}
<div
  class="relative grid grid-cols-layout-4 lg:grid-cols-layout-12 grid-rows-auto/auto content-between min-h-screen py-margin lg:py-lg/margin"
>
  <div id="sidebar" class="conference_menu">
    <div class="w-full">
      <button class="bg-black w-full">
        <a href="/2021-conference">
          <h1 class="font-display uppercase text-center my-4 text-size-4 text-white">
            2021 Annual Conference
          </h1>
        </a>
      </button>
    </div>
    <div class="mb-auto ml-4 mr-8 text-center">
      <button class="conference_button">
        <a href="/2021-conference/taipei">
          <p class="text-white uppercase text-size--2 m-2">Taipei Event</p>
        </a>
      </button>
      <button class="conference_button">
        <a href="/2021-conference/online">
          <p class="text-white uppercase text-size--2 m-2">Online Event</p>
        </a>
      </button>
      <button class="conference_button">
        <a href="/2021-conference/denver">
          <p class="text-white uppercase text-size--2 m-2">Denver Event</p>
        </a>
      </button>
      <button class="conference_button w-24">
        <a href="/2021-conference/faq">
          <p class="text-white uppercase text-size--2 m-2">FAQ</p>
        </a>
      </button>
    </div>
  </div>
  <header class="col-span-columns mb-8">
    <a href="/">
      {{ logo.render(classes="hidden lg:inline-block align-top") }}
    </a>
    <h1 class="font-display uppercase mt-32 text-size-display lg:text-size-xl/display">
      {{ venue.title }}
    </h1>
  </header>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-column-8 space-y-line-3/2"
  >
    <p class="font-bold">Where: {{ venue.location }}</p>
    <p class="font-bold">When: {{ venue.datetime }}</p>
    <div class="markdown markdown-sm font-bold text-justify">
      {{ venue.introductionBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a
          href="{{ venue.eventbrite }}"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <p class="text-white uppercase text-size--2 m-2">Get Ticket</p>
        </a>
      </button>
    </div>
    <p class="font-bold uppercase">The format</p>
    <div class="markdown markdown-sm">
      {{ venue.formatBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a href="/2021-conference/faq">
          <p class="text-white uppercase text-size--2 m-2">See FAQ</p>
        </a>
      </button>
    </div>
    <p class="font-bold uppercase">Who will be there</p>
    <div class="markdown markdown-sm">
      {{ venue.personnelBlurb | markdown | safe }}
    </div>
    <p class="font-bold">
      In the event of increased COVID-19 restrictions for in-person gatherings, we will move the physical meeting(s) online.
    </p>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a href="#topics">
          <p class="text-white uppercase text-size--2 m-2">See topics</p>
        </a>
      </button>
    </div>
    <div>
      <p class="font-bold uppercase">Additional programming</p>
      <p class="mt-0">RxC TV (included with your ticket)</p>
    </div>
    <div class="markdown markdown-sm">
      {{ venue.rxcTvBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a href="{{ venue.eventbrite }}">
          <p class="text-white uppercase text-size--2 m-2">Get Ticket</p>
        </a>
      </button>
    </div>
    <p class="font-bold uppercase">More about RadicalxChange</p>
    <div class="markdown markdown-sm">
      {{ venue.rxcBlurb | markdown | safe }}
    </div>
    <div class="conference_inline-button">
      <hr class="hidden lg:inline-block lg:w-full lg:my-auto">
      <button class="inline-block conference_button">
        <a href="/">
          <p class="text-white uppercase text-size--2 m-2">Learn more</p>
        </a>
      </button>
    </div>
    <p id="topics" class="font-bold uppercase">Discussion Topics</p>
    <div class="markdown markdown-sm">
      {{ venue.topics | markdown | safe }}
    </div>
    {{ caller() if caller }}
  </div>
</div>
<script>
  // prettier-ignore
  {% include "components/close-button.js" %}
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
<!-- prettier-ignore -->
{% endmacro %}
