{% macro render(bgColor, paddingBottom="pb-base lg:pb-lg/xl") %}
<footer class="{{ bgColor }}">
  <div
    class="flex flex-col justify-between min-h-screen lg:h-100vh lg:min-h-tall pt-base lg:pt-lg/xl
    {{ paddingBottom }} px-base lg:px-lg/lg"
  >
    <div class="flex flex-col lg:flex-row mb-xl lg:mb-lg/lg">
      <a href="/" class="block lg:w-span6">
        <img src="/images/logos/logo.svg" class="logo-width mb-xl lg:mb-0" />
      </a>
      <nav class="lg:w-span6">
        <ul class="grid grid-cols-2 lg:grid-cols-3">
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="/about">About</a>
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="/team">Team</a>
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="/press">Press</a>
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="/concepts">Concepts</a>
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="/resources">Literature</a>
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="/conferences">Conferences</a>
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="#" data-modal-trigger="subscribe"
              >Newsletter</a
            >
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="/chapters">Chapters</a>
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="https://t.me/rxcfoundation"
              >Telegram</a
            >
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="https://blog.radicalxchange.org/"
              >Blog</a
            >
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a
              class="animated-link"
              href="https://gitcoin.co/hackathon/GitxChange/onboard"
              >GitxChange</a
            >
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="mailto:info@radicalxchange.org"
              >Contact Us</a
            >
          </li>
          <li class="uppercase mb-base lg:mb-lg/lg">
            <a class="animated-link" href="/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex flex-col lg:flex-row lg:items-end">
      <div class="lg:w-span6 mb-xl lg:mb-0">
        <p class="mb-base lg:mb-lg/base">
          Find us on social networks:
        </p>
        <ul class="flex flex-wrap">
          <li class="mb-base mr-lg lg:mb-0 lg:mr-lg/lg">
            <a class="animated-link" href="https://twitter.com/radxchange"
              >Twitter</a
            >
          </li>
          <li class="mb-base mr-lg lg:mb-0 lg:mr-lg/lg">
            <a class="animated-link" href="https://youtube.com/c/RadicalxChange"
              >YouTube</a
            >
          </li>
          <li class="mb-base mr-lg lg:mb-0 lg:mr-lg/lg">
            <a
              class="animated-link"
              href="https://www.linkedin.com/company/radicalxchange/"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>
      <p class="lg:w-span6 text-left lg:text-right">
        © 2020 RadicalxChange Foundation Ltd.<br />RadicalxChange Foundation
        Ltd., a 501(c)(3) nonprofit organization, does not support or oppose
        candidates for public office or political parties.
      </p>
    </div>
  </div>
</footer>
{% endmacro %}
