<!-- prettier-ignore -->
{% macro render(color="black", classes="") %}
<!-- prettier-ignore -->
{% if color == "black" %}
<img
  class="logo {{ classes }}"
  src="/images/logos/logo.svg"
  alt="RadicalxChange"
/>
<!-- prettier-ignore -->
{% endif %}
<!-- prettier-ignore -->
{% if color == "white" %}
<img
  class="logo {{ classes }}"
  src="/images/logos/logo-white.svg"
  alt="RadicalxChange"
/>
<!-- prettier-ignore -->
{% endif %}
<!-- prettier-ignore -->
{% endmacro %}

<!-- prettier-ignore -->
{% macro short(classes="") %}
<img
  class="logo-short {{ classes }}"
  src="/images/logos/logo-short-white.svg"
  alt="RadicalxChange"
/>
<!-- prettier-ignore -->
{% endmacro %}
