<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}

<!-- prettier-ignore -->
{% macro render() %}
<div id="menu" class="menu">
  <div
    id="menu_inner"
    class="relative w-full lg:w-auto h-full pt-ymargin lg:pt-lg/ymargin px-xmargin lg:px-lg/xmargin bg-black text-white overflow-y-auto hidden"
  >
    <nav class="flex flex-col justify-between min-h-full pb-32 lg:pb-0">
      <div>
        <h1>
          <a
            data-menu-item
            href="/"
            class="block menu_item-bottom font-display text-size-display lg:text-size-lg/display text-center outline-none"
          >
            {{ logo.render(color="white", classes="hidden lg:inline-block align-baseline") }}
            {{ logo.short(classes="inline-block lg:hidden align-baseline") }}
          </a>
        </h1>
        <ul>
          <li>
            <a
              data-menu-item
              class="block menu_item-bottom font-display text-size-display lg:text-size-lg/display text-center outline-none"
              href="/about"
              ><span class="align-middle uppercase">About</span></a
            >
          </li>
          <li>
            <a
              data-menu-item
              class="block menu_item-bottom font-display text-size-display lg:text-size-lg/display text-center outline-none"
              href="/concepts"
              ><span class="align-middle uppercase">Concepts</span></a
            >
          </li>
          <li>
            <a
              data-menu-item
              class="block menu_item-bottom font-display text-size-display lg:text-size-lg/display text-center outline-none"
              href="/community"
              ><span class="align-middle uppercase">Community</span></a
            >
          </li>
          <li>
            <a
              data-menu-item
              class="block menu_item-bottom font-display text-size-display lg:text-size-lg/display text-center outline-none"
              href="/kiosk"
              ><span class="align-middle uppercase">Kiosk</span></a
            >
          </li>
          <li>
            <a
              data-menu-item
              class="block menu_item-bottom font-display text-size-display lg:text-size-lg/display text-center outline-none"
              href="/events"
              ><span class="align-middle uppercase">Events</span></a
            >
          </li>
          <li>
            <a
              data-menu-item
              class="block menu_item-bottom font-display text-size-display lg:text-size-lg/display text-center outline-none"
              href="/kiosk/announcements/fellowship-program-2021/"
              ><span class="align-middle uppercase">Fellowship</span></a
            >
          </li>
        </ul>
      </div>
      <p class="hidden lg:block py-2 text-size--4 text-center">
        © 2020 RadicalxChange Foundation Ltd.
      </p>
    </nav>
    <div
      class="fixed bottom-0 left-0 flex justify-center lg:hidden w-full pt-margin pb-bottom-button bg-black"
    >
      <button
        data-menu-button
        class="py-3 px-8 bg-black rounded-oval text-white text-size--1 uppercase"
      >
        Close
      </button>
    </div>
  </div>
  <div id="menu_slider" class="hidden lg:block menu_slider">
    <button data-menu-button="hover">
      <img
        src="/images/ui/menu-slider.svg"
        width="32"
        height="103"
        alt="Menu"
      />
    </button>
  </div>
</div>
<div
  id="menu_button"
  class="z-10 fixed bottom-0 left-0 flex justify-center lg:hidden w-full mb-bottom-button menu_button"
>
  <button
    data-menu-button
    class="py-2 px-7 lg:px-6 bg-black rounded-oval text-white text-size--1 uppercase"
  >
    Menu
  </button>
</div>
<!-- prettier-ignore -->
{% endmacro %}
