<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}

<!-- prettier-ignore -->
{% macro render() %}
<div id="menu" class="menu">
  <nav
    id="nav"
    class="hidden flex flex-col w-full lg:w-auto h-full pt-6 pb-16 lg:pb-6 px-6 bg-black text-white overflow-y-auto"
  >
    <a data-menu-item class="block menu_bottom mb-4 outline-none" href="/"
      ><h1 class="hidden lg:block">
        {{ logo.render(color="white") }}
      </h1>
      <h1 class="flex justify-center lg:hidden">
        {{ logo.short() }}
      </h1></a
    >
    <ul class="flex-grow">
      <li>
        <a
          data-menu-item
          class="block menu_bottom mb-4 text-center outline-none"
          href="/about"
          ><span
            class="font-display text-size-display lg:text-size-lg/display uppercase align-middle"
            >About</span
          ></a
        >
      </li>
      <li>
        <a
          data-menu-item
          class="block menu_bottom mb-4 text-center outline-none"
          href="/concepts"
          ><span
            class="font-display text-size-display lg:text-size-lg/display uppercase align-middle"
            >Concepts</span
          ></a
        >
      </li>
      <li>
        <a
          data-menu-item
          class="block menu_bottom mb-4 text-center outline-none"
          href="/Community"
          ><span
            class="font-display text-size-display lg:text-size-lg/display uppercase align-middle"
            >Community</span
          ></a
        >
      </li>
      <li>
        <a
          data-menu-item
          class="block menu_bottom mb-4 text-center outline-none"
          href="/kiosk"
          ><span
            class="font-display text-size-display lg:text-size-lg/display uppercase align-middle"
            >Kiosk</span
          ></a
        >
      </li>
      <li>
        <a
          data-menu-item
          class="block menu_bottom mb-4 text-center outline-none"
          href="/events"
          ><span
            class="font-display text-size-display lg:text-size-lg/display uppercase align-middle"
            >Events</span
          ></a
        >
      </li>
    </ul>
    <p class="self-center hidden lg:block text-size--3">
      © 2020 RadicalxChange Foundation Ltd.
    </p>
    <div class="self-center m-8 lg:hidden">
      <button data-menu-button>
        <img src="/images/ui/close-button-white.svg" />
      </button>
    </div>
  </nav>
  <div class="hidden lg:block self-center">
    <button data-menu-button>
      <img src="/images/ui/menu-slider.svg" />
    </button>
  </div>
</div>
<!-- prettier-ignore -->
{% endmacro %}
