{% macro render(id) %}
<div
  class="z-40 fixed top-0 left-0 flex justify-center items-center w-full h-full bg-black bg-opacity-50 modal-closed"
  data-modal-declare="{{ id }}"
>
  <div
    class="relative w-full lg:w-auto lg:max-w-75vw h-full lg:h-auto lg:max-h-75vh pt-2xl lg:pt-lg/xl pb-lg lg:pb-lg/lg px-lg lg:px-lg/lg my-xl lg:my-0 lg:rounded bg-white overflow-y-auto"
    data-modal-dialog
  >
    <button class="absolute top-0 right-0 p-sm lg:p-lg/base" data-modal-close>
      <img src="/images/ui/close-button.svg" class="modal-close-button" />
    </button>
    {{ caller() }}
  </div>
</div>
{% endmacro %}
