{% macro render(sticky=true) %}
<nav class="nav_container {{ 'nav_sticky' if sticky }}" data-nav-declare>
  <ul class="nav_menu">
    <li class="nav_menu-item">
      <a class="animated-link" href="#">Forum</a>
    </li>
    <li class="nav_menu-item">
      <a class="animated-link" href="#">About</a>
    </li>
    <li class="nav_menu-item">
      <a class="animated-link" href="#">Community</a>
    </li>
    <li class="nav_menu-item">
      <a class="animated-link" href="#">Blog</a>
    </li>
    <li class="nav_menu-item">
      <a class="animated-link" href="#" data-modal-trigger="subscribe"
        >Subscribe</a
      >
    </li>
    <li class="nav_menu-item">
      <a class="animated-link" href="#">Donate</a>
    </li>
  </ul>
  <button class="nav_close-button" data-nav-close>
    <img src="/images/close-button.svg" class="nav_close-button-img" />
  </button>
  {{ caller() }}
</nav>
{% endmacro %} {% macro menuButton() %}
<div class="z-10 sticky top-0 h-0 float-right lg:hidden">
  <div id="float-menu-button" class="bg-golden-fizz-100 menu-hidden">
    <button class="animated-link uppercase" data-nav-trigger>
      Menu
    </button>
  </div>
</div>
{% endmacro %}
