<!-- prettier-ignore -->
{% macro render(sticky=true, hasCaller=false) %}
<nav
  class="nav_container {{ 'nav_sticky' if sticky }} {{ 'nav_hasCaller' if hasCaller }} "
  data-nav-declare
>
  <ul class="nav_menu">
    <li class="nav_menu-item">
      <a class="animated-link" href="/">Home</a>
    </li>
    <li class="nav_menu-item">
      <span class="animated-link">Resources</span>
      <ul class="nav_submenu">
        <li class="nav_submenu-item">
          <a class="animated-link" href="/concepts">Concepts</a>
        </li>
        <li class="nav_submenu-item">
          <a class="animated-link" href="/resources">Literature</a>
        </li>
        <li class="nav_submenu-item">
          <a class="animated-link" href="https://www.radicalxchange.org/blog/"
            >Blog</a
          >
        </li>
      </ul>
    </li>
    <li class="nav_menu-item">
      <a class="animated-link" href="/about">About</a>
    </li>
    <li class="nav_menu-item">
      <span class="animated-link">Get Involved</span>
      <ul class="nav_submenu">
        <li class="nav_submenu-item">
          <a class="animated-link" href="/2020-conference">Conference</a>
        </li>
        <li class="nav_submenu-item">
          <a class="animated-link" href="#" data-modal-trigger="subscribe"
            >Newsletter</a
          >
        </li>
        <li class="nav_submenu-item">
          <a class="animated-link" href="https://forum.radicalxchange.org/"
            >Forum</a
          >
        </li>
        <li class="nav_submenu-item">
          <a class="animated-link" href="https://t.me/rxcfoundation"
            >Telegram</a
          >
        </li>
      </ul>
    </li>
    <li class="nav_menu-item">
      <span class="animated-link">Donate</span>
      <ul class="nav_submenu">
        <li class="nav_submenu-item">
          <a
            class="animated-link"
            href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Q66E4MUK6K6KQ"
            >Paypal</a
          >
        </li>
        <li class="nav_submenu-item">
          <a
            class="animated-link"
            href="https://commerce.coinbase.com/checkout/a68957cd-9253-4b60-ac6a-2b0d3f472647"
            >Crypto</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <button class="nav_close-button" data-nav-close>
    <img src="/images/ui/close-button.svg" class="nav_close-button-img" />
  </button>
  {{ caller() }}
</nav>
<!-- prettier-ignore -->
{% endmacro %}
<!-- prettier-ignore -->
{% macro stickyMenuButton() %}
<div class="z-10 sticky top-0 h-0 float-right lg:hidden">
  <button class="animated-link mx-base my-sm uppercase" data-nav-trigger>
    Menu
  </button>
</div>
<!-- prettier-ignore -->
{% endmacro %}
<!-- prettier-ignore -->
{% macro movingMenuButton() %}
<div class="z-10 sticky top-0 h-0 float-right lg:hidden">
  <div id="moving-menu-button" class="nav_moving-button-hidden">
    <button
      id="moving-menu-button"
      class="animated-link uppercase"
      data-nav-trigger
    >
      Menu
    </button>
  </div>
</div>
<!-- prettier-ignore -->
{% endmacro %}
