<!-- prettier-ignore -->
{% macro header(headerText) %}
<h1
  class="mb-lg lg:mb-lg/lg font-display text-header lg:text-lg/header uppercase leading-display"
>
  <!-- prettier-ignore -->
  {{ headerText }}
</h1>
<!-- prettier-ignore -->
{% endmacro %}

<!-- prettier-ignore -->
{% macro render(headerText) %}
<section class="color-every-other-child lg:flex">
  <div
    class="flex flex-col w-full lg:w-span4 lg:min-h-tall lg-tall:min-h-screen py-base lg:py-lg/xl px-base lg:pr-lg/sm lg:pl-lg/lg"
  >
    <!-- prettier-ignore -->
    {{ header(headerText) }}
  </div>
  <div
    class="flex flex-col w-full lg:w-span8 lg:min-h-tall lg-tall:min-h-screen py-base lg:py-lg/xl px-base lg:pr-lg/sm lg:pl-lg/lg"
  >
    <!-- prettier-ignore -->
    {{ caller() }}
  </div>
</section>
<!-- prettier-ignore -->
{% endmacro %}
