{% macro render(title, bodyText, link) %}
<template id="popupTemplate">
  <section
    class="z-50 fixed top-0 left-0 grid grid-cols-layout-4 lg:grid-cols-layout-12 w-full h-screen bg-black lg:bg-transparent overflow-y-auto"
  >
    <div
      class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-9 lg:px-4 pt-margin pb-48 lg:pt-28 lg:pb-lg/ymargin"
    >
      <div
        class="flex flex-col xl:flex-row space-y-3 xl:space-y-0 xl:space-x-3"
      >
        <div class="relative xl:w-5/6 lg:max-h-screen xl:mx-auto lg:text-size--4">
          <div
            data-popup-info
            class="z-20 absolute top-0 left-0 w-full flex flex-col lg:rounded-tvinfo bg-black text-white lg:px-20"
          >
            <div class="absolute top-0 right-0 flex items-end mb-3">
              <a href="#">
                <img
                  class="ml-auto mr-2 mt-2"
                  width="35"
                  height="33"
                  src="/images/ui/close-circle.svg"
                  alt="close"
                />
              </a>
            </div>
            <div
              class="flex-none flex items-center justify-between"
            >
              <h1 class="font-display text-size-lg/display uppercase text-center my-4">
                {{ title }}
              </h1>
            </div>
            <h1 class="font-body text-size-2 uppercase my-4">
              RxC TV - Day 1
            </h1>
            <div class="mt-4 mb-8">
              <div class="events_youtube-container">
                <iframe
                  src="https://www.youtube.com/embed/Z-9ldL25UlI"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <h1 class="font-body text-size-2 uppercase my-4">
              RxC TV - Day 2
            </h1>
            <div class="mt-4 mb-8">
              <div class="events_youtube-container">
                <iframe
                  src="https://www.youtube.com/embed/uZzbX1ubvnY"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <h1 class="font-body text-size-2 uppercase my-4">
              RxC TV - Day 3
            </h1>
            <div class="mt-4 mb-8">
              <div class="events_youtube-container">
                <iframe
                  src="https://www.youtube.com/embed/ZGdvshAMVBs"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <div
              class="lg:block flex-grow overflow-y-auto"
            >
              <div class="markdown markdown-sm">
                {{ bodyText | markdown | safe }}
              </div>
            </div>
            <div
              class="sticky bottom-0 left-0 lg:px-16 lg:rounded-tvinfo items-center"
            >
              <button class="block bg-light-gold rounded-oval py-3 px-8 mx-auto mb-4 mt-12">
                <a
                  class="text-black text-size--2 uppercase"
                  href="/2021-conference"
                >
                  Learn More
                </a>
              </button>
            </div>
          </div>
          <a href="#" class="z-10">
            <div class="z-0 fixed top-0 left-0 w-full h-full"></div>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
{% endmacro %}
