<!-- prettier-ignore -->
{% macro header(headerText) %}
<h1
  class="mb-lg lg:mb-lg/lg font-display text-header lg:text-lg/header uppercase leading-display"
>
  <!-- prettier-ignore -->
  {{ headerText }}
</h1>
<!-- prettier-ignore -->
{% endmacro %}

<!-- prettier-ignore -->
{% macro render(headerText, id) %}
<section id="{{ id }}" class="color-every-other-child">
  <div
    class="flex flex-col justify-between w-full lg:w-span7 lg:min-h-tall lg-tall:min-h-screen py-base lg:py-lg/xl px-base lg:pr-lg/sm lg:pl-lg/lg"
  >
    <!-- prettier-ignore -->
    {{ header(headerText) }}
    <!-- prettier-ignore -->
    {{ caller() }}
  </div>
</section>
<!-- prettier-ignore -->
{% endmacro %}
