<!-- prettier-ignore -->
{% macro render(header) %}
<section class="color-every-other-child">
  <div
    class="flex flex-col justify-between w-full lg:w-span7 lg:min-h-tall lg-tall:min-h-screen py-base lg:py-lg/xl px-base lg:pr-lg/sm lg:pl-lg/lg"
  >
    <h1
      class="mb-base lg:mb-lg/base font-display text-header lg:text-lg/header uppercase leading-none"
    >
      <!-- prettier-ignore -->
      {{ header }}
    </h1>
    <!-- prettier-ignore -->
    {{ caller() }}
  </div>
</section>
<!-- prettier-ignore -->
{% endmacro %}
