{% macro render() %}
<div class="sponsor-modal">
  <form
    action="https://radicalxchange.us19.list-manage.com/subscribe/post-json?u=43120a1fed800e11539c2e78d&id=2027aed3e0&c=?"
    method="GET"
    name="mc-embedded-sponsor-form"
    target="_blank"
    novalidate
    data-sponsor-form
  >
    <div class="relative">
      <h2
        class="mb-lg lg:mb-lg/lg font-display text-header lg:text-lg/header-sm uppercase leading-display"
      >
        Sponsor the conference
      </h2>
      <p class="mb-lg lg:mb-lg/lg">
        Enter your email address and name. We'll send you more information about
        sponsorship levels and the perks of becoming a sponsor.
      </p>
      <div class="mb-sm lg:mb-lg/sm">
        <label class="text-sm lg:text-lg/sm" for="mce-EMAIL">
          Email Address
        </label>
        <input
          type="email"
          value=""
          name="EMAIL"
          class="w-full px-sm lg:px-lg/sm py-sm lg:py-lg/sm border rounded text-sm lg:text-lg/sm"
          id="mce-EMAIL"
        />
      </div>
      <div class="mb-sm lg:mb-lg/sm">
        <label class="text-sm lg:text-lg/sm" for="mce-FNAME">
          First Name
        </label>
        <input
          type="text"
          value=""
          name="FNAME"
          class="w-full px-sm lg:px-lg/sm py-sm lg:py-lg/sm border rounded text-sm lg:text-lg/sm"
          id="mce-FNAME"
        />
      </div>
      <div class="mb-sm lg:mb-lg/sm">
        <label class="text-sm lg:text-lg/sm" for="mce-LNAME">
          Last Name
        </label>
        <input
          type="text"
          value=""
          name="LNAME"
          class="w-full px-sm lg:px-lg/sm py-sm lg:py-lg/sm border rounded text-sm lg:text-lg/sm"
          id="mce-LNAME"
        />
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input
          type="text"
          name="b_43120a1fed800e11539c2e78d_2e47820582"
          tabindex="-1"
          value=""
        />
      </div>
      <div
        class="mt-lg lg:mt-lg/lg text-sm lg:text-lg/sm"
        style="display: none;"
        data-sponsor-success
      >
        <span>✔ Submitted. Check your email!</span>
      </div>
      <div
        class="mt-lg lg:mt-lg/lg text-sm lg:text-lg/sm text-red"
        style="display: none;"
        data-sponsor-fail
      >
        <span>
          Something went wrong. Email us at sponsor2020@radicalxchange.org for
          details.
        </span>
      </div>
      <div class="mt-lg lg:mt-lg/lg">
        <button
          type="submit"
          name="submit"
          class="animated-link text-sm lg:text-lg/sm uppercase"
          data-sponsor-submit
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
{% endmacro %}
