{% macro render() %}
<div class="subscribe-modal">
  <form
    action="https://radicalxchange.us19.list-manage.com/subscribe/post?u=43120a1fed800e11539c2e78d&amp;id=2e47820582"
    method="post"
    name="mc-embedded-subscribe-form"
    target="_blank"
    novalidate
  >
    <div class="relative">
      <h2
        class="mb-lg lg:mb-lg/lg font-display text-header lg:text-lg/header-sm uppercase leading-display"
      >
        Newsletter
      </h2>
      <div class="mb-sm lg:mb-lg/sm">
        <label class="text-sm lg:text-lg/sm" for="mce-EMAIL">
          Email Address
        </label>
        <input
          type="email"
          value=""
          name="EMAIL"
          class="w-full px-sm lg:px-lg/sm py-sm lg:py-lg/sm border rounded text-sm lg:text-lg/sm"
          id="mce-EMAIL"
        />
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input
          type="text"
          name="b_43120a1fed800e11539c2e78d_2e47820582"
          tabindex="-1"
          value=""
        />
      </div>
      <p class="text-xs lg:text-lg/xs mb-lg lg:mb-lg/lg">
        You can unsubscribe at any time by clicking the link in the footer of
        our emails. For information about our privacy practices, please visit
        our website. We use Mailchimp as our marketing platform. By clicking
        below to subscribe, you acknowledge that your information will be
        transferred to Mailchimp for processing.
        <a
          class="inline-link"
          href="https://mailchimp.com/legal/"
          target="_blank"
          >Learn more about Mailchimp's privacy practices here.</a
        >
      </p>
      <div>
        <button
          type="submit"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="animated-link text-sm lg:text-lg/sm uppercase"
        >
          Subscribe
        </button>
      </div>
    </div>
  </form>
</div>
{% endmacro %}
