<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{% macro render(member, defaultBio) %}
<!-- prettier-ignore -->
{{ closeButton.render("/about#foundation") }}
<div
  class="grid grid-cols-layout-4 lg:grid-cols-layout-12 py-margin lg:py-lg/margin"
>
  <div class="col-span-columns lg:col-start-column-4 lg:col-end-gutter-9">
    <header class="text-size--1 mb-line-3/2">
      <h1>{{ member.name }}</h1>
      {% if member.title %}
      <p>{{ member.title }}</p>
      {% endif %}
    </header>
    <div class="markdown markdown-sm mb-line-1">
      <!-- prettier-ignore -->
      {% if member.bio %}
      {{ member.bio | markdown | safe }}
      <!-- prettier-ignore -->
      {% else %}
      {{ defaultBio | markdown | safe }}
      <!-- prettier-ignore -->
      {% endif %}
    </div>
    <img src="/images/team/{{ member.image }}" class="w-full" />
  </div>
</div>
<!-- prettier-ignore -->
{% endmacro %}
