---
layout: layouts/_base.njk
title: Chapters
---

<!-- prettier-ignore -->
{% import "components/close-button.njk" as closeButton %}

<!-- prettier-ignore -->
{{ closeButton.render() }}
<div
  class="grid grid-cols-layout-4 lg:grid-cols-layout-12 lg:grid-rows-auto/1fr mt-4 lg:mt-8 mb-32 lg:mb-8"
>
  <div
    class="col-span-columns lg:col-start-column-1 lg:col-end-gutter-2 mb-8 lg:mb-4"
  >
    <span>Find a local chapter or </span
    ><a
      href="https://forms.gle/UQ6FtuC7rEf42cqE9"
      class="inline-link uppercase"
    >
      start a new chapter</a
    >
  </div>
  <div
    class="chapters_list col-span-columns lg:col-start-column-3 lg:col-end-gutter-10 flex flex-col lg:flex-wrap lg:justify-start lg:content-start"
  >
    <!-- prettier-ignore -->
    {% for key, chapters in collections.groupedChapters %}
    <div class="lg:w-1/4 pb-4 lg:pr-8">
      <h4 class="border-b text-size--2 uppercase">{{ key }}</h4>
      <ul>
        <!-- prettier-ignore -->
        {% for chapter in chapters %}
        <!-- prettier-ignore -->
        {% set mailtoChapter %}mailto:chapters@radicalxchange.org?subject=Interested%20in%20the%20{{
          chapter.data.headerText | urlencode
        }}%20Chapter&body=Hello!%20I'm%20interested%20in%20joining%20the%20RadicalxChange%20{{
          chapter.data.headerText | urlencode
        }}%20chapter.%20Can%20you%20put%20me%20in%20contact%20with%20their%20organizers%3F%0D%0A%0D%0AThank%20you!{%
        endset %}
        <!-- prettier-ignore -->
        <li class="my-1 text-size--2">
          <a
            href="{{ chapter.data.meetupUrl | defaultHref(mailtoChapter) }}"
            target="{{ '_self' if chapter.data.meetupUrl !== '#' else '_blank' }}"
          >
            {{ chapter.data.headerText }}</a
          >
        </li>
        <!-- prettier-ignore -->
        {% endfor %}
      </ul>
    </div>
    <!-- prettier-ignore -->
    {% endfor %}
  </div>
</div>
