---
layout: layouts/html.njk
title: Chapters - RadicalxChange
headerText: Chapters
---

<div class="flex-grow flex flex-col justify-between">
  <div class="mb-lg lg:mb-lg/lg">
    <div id="mapid"></div>
  </div>
  <ol class="mb-lg lg:mb-lg/lg">
    {% for key, chapters in collections.groupedChapters %}
    <li class="mb-base lg:mb-lg/base">
      <h4 class="uppercase">{{ key }}</h4>
      <ul>
        {% for chapter in chapters %}
        <a class="block" href="{{ chapter.url }}">
          <span class="inline-link">{{ chapter.data.headerText }} </span></a
        >
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ol>
</div>
<script
  src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""
></script>
<script>
  const places = [
    // prettier-ignore
    {% for chapter in collections.chapter %}
    // prettier-ignore
    {% if chapter.data.coordinates %}
    {
      label: "{{ chapter.data.headerText }}",
      coordinates: {{ chapter.data.coordinates | dump | safe }},
      href: "{{ chapter.url }}",
    },
    // prettier-ignore
    {% endif %}
    // prettier-ignore
    {% endfor %}
  ];
  // -----------------------

  // Initialize map to use OpenStreetMap data
  const map = L.map("mapid", { scrollWheelZoom: false }).setView([0, 0], 2);

  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '© <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
  }).addTo(map);

  for (place of places) {
    const { label, coordinates, href } = place;
    L.marker(coordinates)
      .on("click", () => (window.location.href = href))
      .bindTooltip(label)
      .addTo(map);
  }
</script>
