---
layout: "layouts/_base.njk"
---

<!-- Quadratic Voting -->
<div>
  <div style="width: 512px" class="border mx-auto">
    <div style="padding-top: 128%" class="relative">
      <div class="absolute top-0 left-0 w-full h-full bg-golden-fizz">
        <div class="ball"></div>
      </div>
    </div>
  </div>

  <!-- Quadratic Voting -->
  <div style="width: 512px" class="border mx-auto">
    <div style="padding-top: 128%" class="relative">
      <div class="absolute top-0 left-0 w-full h-full bg-golden-fizz">
        <div class="quadratic-voting w-full h-full border rounded-50"></div>
      </div>
    </div>
  </div>
</div>
