---
layout: "layouts/_base.njk"
---

<!-- Data Dignity -->
<div>
  <div style="width: 512px" class="border mx-auto bg-golden-fizz">
    <svg width="100%" viewBox="0 0 100 128" xmlns="http://www.w3.org/2000/svg">
      <circle
        cx="0"
        cy="45"
        r="5"
        fill="#FAFFC3"
        stroke="black"
        vector-effect="non-scaling-stroke"
      />
      <circle
        cx="35.18"
        cy="28.06"
        r="5"
        fill="#FAFFC3"
        stroke="black"
        vector-effect="non-scaling-stroke"
      />
      <circle
        cx="43.87"
        cy="-10.02"
        r="5"
        fill="#FAFFC3"
        stroke="black"
        vector-effect="non-scaling-stroke"
      />
    </svg>
    <!-- <div class="absolute top-0 left-0 w-full h-full bg-golden-fizz">
        <div class="ball ball1"></div>
        <div class="ball ball2"></div>
        <div class="ball ball3"></div>
        <div class="ball ball4"></div>
        <div class="ball ball5"></div>
        <div class="ball ball6"></div>
        <div class="ball ball7"></div>
      </div> -->
  </div>

  <!-- Quadratic Voting -->
  <div style="width: 512px" class="border mx-auto">
    <div style="padding-top: 128%" class="relative">
      <div class="absolute top-0 left-0 w-full h-full bg-golden-fizz">
        <div class="quadratic-voting w-full h-full border rounded-50"></div>
      </div>
    </div>
  </div>
</div>
