---
title: Blog
headerText: Blog
pagination:
  data: collections.blog
  size: 10
  reverse: true
  alias: blog
---

<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% block content %}
<div>
  <ol class="mb-base lg:mb-lg/base">
    {% for post in blog %}
    <li class="mb-base lg:mb-lg/base">
      <a class="block" href="{{ post.url }}">
        <p>
          <span class="inline-link">{{ post.data.postHeader }}</span>
        </p>
        <p class="text-sm lg:text-lg/sm mb-sm lg:mb-lg/sm">
          {{ post.data.date | readableDate }} / {{ post.data.postAuthor }}
        </p>
      </a>
    </li>
    {% endfor %}
  </ol>
  <ul class="flex">
    <!-- prettier-ignore -->
    {% if pagination.href.next %}
    <li class="mr-base lg:mr-lg/lg">
      <a class="animated-link" href="{{ pagination.href.next }}">
        Older
      </a>
    </li>
    <!-- prettier-ignore -->
    {% endif %}
    <!-- prettier-ignore -->
    {% if pagination.href.previous %}
    <li class="mr-lg lg:mr-lg/lg">
      <a class="animated-link" href="{{ pagination.href.previous }}">
        Newer
      </a>
    </li>
    <!-- prettier-ignore -->
    {% endif %}
  </ul>
</div>
<!-- prettier-ignore -->
{% endblock %}
