---
title: Blog
headerText: Blog
pagination:
  data: collections.blog
  size: 10
  reverse: true
  alias: blog
---

<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% block content %}
<div>
  <ol
    class="columns-3 column-base-gap lg:column-lg/base-gap mb-base lg:mb-lg/base"
  >
    {% for post in blog %}
    <li class="inline-block border p-base lg:p-lg/base mb-base lg:mb-lg/base">
      <a class="block" href="{{ post.url }}">
        <p class="mb-sm lg:mb-lg/sm">
          <span class="inline-link">{{ post.data.postHeader }}</span>
        </p>
        <p class="text-xs lg:text-lg/xs">
          {{ post.data.description | default("") }}
        </p>
      </a>
    </li>
    {% endfor %}
  </ol>
  <ul class="flex">
    <!-- prettier-ignore -->
    {% if pagination.href.next %}
    <li class="mr-base lg:mr-lg/lg">
      <a class="animated-link" href="{{ pagination.href.next }}">
        Older
      </a>
    </li>
    <!-- prettier-ignore -->
    {% endif %}
    <!-- prettier-ignore -->
    {% if pagination.href.previous %}
    <li class="mr-lg lg:mr-lg/lg">
      <a class="animated-link" href="{{ pagination.href.previous }}">
        Newer
      </a>
    </li>
    <!-- prettier-ignore -->
    {% endif %}
  </ul>
</div>
<!-- prettier-ignore -->
{% endblock %}
