---
title: "Chapters"
---

<!-- prettier-ignore -->
{% import "components/chapters-page.njk" as chaptersPage %}

<!-- prettier-ignore -->
{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% block otherHead %}
<link rel="canonical" href="/community/chapters" />
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<!-- prettier-ignore -->
{{ chaptersPage.render(chapters, "/about#chapters") }}
<!-- prettier-ignore -->
{% endblock %}
