<!-- prettier-ignore -->
{% import "components/page.njk" as page %}
<!-- prettier-ignore -->
{% import "components/call-to-action.njk" as callToAction %}

<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% set title = "2019 Conference - RadicalxChange" %}
<!-- prettier-ignore -->
{% set headerText = "2019 Annual Conference" %}
<!-- prettier-ignore -->
{% set stickyNav = false %}
<!-- prettier-ignore -->
{% set footerBgColor = "bg-golden-fizz-100" %}

<!-- prettier-ignore -->
{% block content %}
<div>
  <p class="mb-base lg:mb-lg/base">
    Our inaugural conference was held March 22-24 at the
    <a
      class="inline-link"
      href="https://www.collegeforcreativestudies.edu/experience/why-ccs/campus"
      >A. Alfred Taubman Center for Design Education</a
    >
    in Detroit, Michigan and brought together speakers across four tracks: Ideas
    & Research, Arts & Communication, Entrepreneurship & Technology, and
    Activism & Governance.
  </p>
  <!-- prettier-ignore -->
  {% call callToAction.render() %}
  <!-- prettier-ignore -->
  {% call callToAction.item() %}
  <a
    class="animated-link uppercase"
    href="mailto:paul@radicalxchange.org?subject=Becoming%20a%20supporter&body=I'd%20like%20to%20become%20a%20RadicalxChange%20supporter."
  >
    Watch the replay
  </a>
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% endcall %}
</div>
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block restOfContent %}
<!-- prettier-ignore -->
{% call page.section() %}
<ul class="columns-2 columns-base-gap lg:columns-lg/base-gap">
  <li>{{ page.header("Photos", "mb-lg mr-lg lg:mb-lg/lg lg:mr-lg/lg") }}</li>
  <li>
    <img
      class="grayscale mb-base lg:mb-lg/base"
      src="/images/rxc2019/RadicalxChange-302.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-base lg:mb-lg/base"
      src="/images/rxc2019/RadicalxChange-148.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-base lg:mb-lg/base"
      src="/images/rxc2019/RadicalxChange-161.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-base lg:mb-lg/base"
      src="/images/rxc2019/RadicalxChange-45.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-base lg:mb-lg/base"
      src="/images/rxc2019/RadicalxChange-63.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-base lg:mb-lg/base"
      src="/images/rxc2019/RadicalxChange-140.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-base lg:mb-lg/base"
      src="/images/rxc2019/RadicalxChange-256.jpg"
    />
  </li>
  <li>
    <img
      class="grayscale mb-base lg:mb-lg/base"
      src="/images/rxc2019/RadicalxChange-36.jpg"
    />
  </li>
</ul>
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{% endblock %}
