<!-- prettier-ignore -->
{% extends "layouts/replay.njk" %}

<!-- prettier-ignore -->
{% set title = "2019 RxC Replay" %}
<!-- prettier-ignore -->
{% set headerText = "2019 RxC Replay" %}
<!-- prettier-ignore -->
{% set headerHref = "/2019-conference" %}
<!-- prettier-ignore -->
{% set youtubeDatum = youtube2019 %}
