---
title: "Chapters"
---

<!-- prettier-ignore -->
{% import "components/chapters-page.njk" as chaptersPage %}

<!-- prettier-ignore -->
{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% block body %}
<!-- prettier-ignore -->
{{ chaptersPage.render(chapters, "/community") }}
<!-- prettier-ignore -->
{% endblock %}
