---
layout: layouts/base.njk
title: 2020 Conference - RadicalxChange
---

<!-- prettier-ignore -->
{% import "components/nav.njk" as nav %}
<!-- prettier-ignore -->
{% import "components/header.njk" as header %}
<!-- prettier-ignore -->
{% import "components/section.njk" as section %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<main>
  <!-- prettier-ignore -->
  {% call nav.render() %}
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call header.render("Conference") %}
  <div class="flex-grow flex flex-col justify-between">
    <div class="mb-lg lg:mb-lg/lg">
      <p class="uppercase text-lg lg:text-lg/lg mb-lg lg:mb-lg/lg">
        June 19-21, 2020<br />
        Hosted Online
      </p>
      <p class="md-container">
        Join us as we convene a community of innovators, activists, artists, and
        scholars from around the world for RadicalxChange’s second annual
        conference from June 19th to 21st. The conference will consist of
        presentations, panels, and workshops based around RxC topics such as Data
        Dignity, Quadratic Voting, Quadratic Finance, SALSA (self-assessed
        property), and Decentralized Identity. We invite local and global leaders
        and change-makers to learn how technologists, creatives, and academics are
        using RxC ideas to solve our most divisive social problems while building
        a future where power is distributed across diverse democratic
        organizations.
      </p>
    </div>
    <div>
      <ul class="flex flex-col lg:flex-row justify-between">
        <li><a class="animated-link text-lg lg:text-lg/lg uppercase" href="#">Register for the conference</a></li>
        <li><a class="animated-link text-sm lg:text-lg/sm" href="#">Speak at the conference</a></li>
        <li><a class="animated-link text-sm lg:text-lg/sm" href="#">Sponsor the conference</a></li>
      </ul>
    </div>
    </div>
  </div>
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {{nav.menuButton()}}
  <section class="color-every-other-child lg:flex">
    <div
      class="flex flex-col w-full lg:w-span4 lg:min-h-tall lg-tall:min-h-screen py-base lg:py-lg/xl px-base lg:pr-lg/sm lg:pl-lg/lg"
    >
      <h1
        class="mb-base lg:mb-lg/base font-display text-header lg:text-lg/header uppercase leading-none"
      >
        Speakers
      </h1>
      <div>
        <p>#RxCon</p>
        <p>Experience the past, present, and future of cooperative plurality</p>
        <p>48 hours of interactive and live streaming</p>
      </div>
    </div>
    <div
      class="flex flex-col w-full lg:w-span8 lg:min-h-tall lg-tall:min-h-screen py-base lg:py-lg/xl px-base lg:pr-lg/sm lg:pl-lg/lg"
    >
    {% for s in speakers2020 %}
    <p>{{ s.bio }}</p>
    {% endfor %}
  </div>
  </section>
  <!-- prettier-ignore -->
  {% call section.render("Sponsors") %}
  <div class="md-container">
    TODO sponsors section
  </div>
  <!-- prettier-ignore -->
  {% endcall %}
</main>
<!-- prettier-ignore -->
{% call footer.render('bg-golden-fizz-100' if sections.length % 2 == 1 else 'bg-white') %}
<!-- prettier-ignore -->
{% endcall %}
<script>
  {% include "components/nav.js" %}
</script>
