---
layout: layouts/_base.njk
title: 2020 Conference - RadicalxChange
gitxchange: |
  Ahead of the conference, we are hosting a two-week virtual hackathon together with Gitcoin to further develop tools for bottom-up experimentation with radical political economies. The hackathon includes a variety of challenges ranging from coding and designing to conceptualizing ideas about cooperative plurality. Winning projects will present their creations on the virtual conference stage.
  
  The sponsoring teams include [Democracy Earth](https://democracy.earth/), [Idena](https://idena.io/), [Gitcoin](http://www.gitcoin.co/), [Ocean Protocol](https://oceanprotocol.com/), [The Scheme of Things](https://rijeka2020.eu/en/dogadjanja/the-scheme-of-things-jennifer-lyn-morone-us/), [Wildcards](https://wildcards.world/), and [RadicalxChange Foundation](https://www.radicalxchange.org/).
sponsors:
  - name: Dada.art
    image: /images/sponsors-2020/dada-logo.png
  - name: Democracy Earth
    image: /images/sponsors-2020/democracy-earth-logo.png
  - name: Gitcoin
    image: /images/sponsors-2020/gitcoin-logo.svg
  - name: Idena
    image: /images/sponsors-2020/idena-logo.jpeg
  - name: Insper
    image: /images/sponsors-2020/insper-logo.png
  - name: Wildcards
    image: /images/sponsors-2020/wildcards-logo.png
  - name: Ocean Protocol
    image: /images/sponsors-2020/ocean-protocol-logo.svg
---

<!-- prettier-ignore -->
{% import "components/nav.njk" as nav %}
<!-- prettier-ignore -->
{% import "components/header.njk" as header %}
<!-- prettier-ignore -->
{% import "components/section.njk" as section %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<main>
  <!-- prettier-ignore -->
  {{ nav.stickyMenuButton() }}
  <!-- prettier-ignore -->
  {% call nav.render(false, true) %}
  <div style="margin-left: 8.333333vw;">
    <p style="-webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px" class="text-right font-display text-header lg:text-lg/header">#RxCon</p>
    <p class="text-right mb-lg/base uppercase">Experience the past, present, and future of cooperative plurality</p>
  </div>
  <!-- prettier-ignore -->
  {% endcall %}
  <!-- prettier-ignore -->
  {% call header.render("Conference") %}
  <div class="flex-grow flex flex-col justify-between">
    <div class="mb-lg lg:mb-lg/lg">
      <p class="uppercase text-lg lg:text-lg/lg mb-lg lg:mb-lg/lg">
        June 19-21, 2020<br />
        Hosted Online
      </p>
      <p class="md-container">
        Join us as we convene a community of innovators, activists, artists, and
        scholars from around the world for RadicalxChange’s second annual
        conference from June 19th to 21st. The conference will consist of
        presentations, panels, and workshops based around RxC topics such as Data
        Dignity, Quadratic Voting, Quadratic Finance, SALSA (self-assessed
        property), and Decentralized Identity. We invite local and global leaders
        and change-makers to learn how technologists, creatives, and academics are
        using RxC ideas to solve our most divisive social problems while building
        a future where power is distributed across diverse democratic
        organizations.
      </p>
    </div>
    <div>
      <ul class="flex flex-col lg:flex-row justify-between">
        <li><a class="animated-link text-lg lg:text-lg/lg uppercase" href="#">Register for the conference</a></li>
        <li><a class="animated-link text-sm lg:text-lg/sm" href="#">Speak at the conference</a></li>
        <li><a class="animated-link text-sm lg:text-lg/sm" href="#">Support the conference</a></li>
      </ul>
    </div>
    </div>
  </div>
  <!-- prettier-ignore -->
  {% endcall %}
  <section class="color-every-other-child flex flex-col lg:flex-row h-screen lg:min-h-tall lg-tall:min-h-screen">
    <div
      class="flex flex-col justify-between w-full lg:w-span4 py-base lg:py-lg/xl px-base lg:pl-lg/lg lg:pr-lg/sm"
    >
      <h1
        class="mb-base lg:mb-lg/base font-display text-header lg:text-lg/header uppercase leading-none"
      >
        Schedule
      </h1>
      <div>
        <a class="animated-link text-lg lg:text-lg/lg uppercase" href="#">Register for the conference</a>
      </div>
    </div>
    <div
      class="flex-grow flex flex-col w-full lg:w-span8 py-base lg:py-lg/xl px-base lg:pl-lg/sm lg:pr-lg/lg"
    >
      <iframe class="w-full h-full border-2 rounded" src="/schedule/index.html" allowfullscreen="true"></iframe>
    </div>
  </section>
   <!-- prettier-ignore -->
   {% call section.render("Git X Change Hackathon") %}
   <div class="md-container">
    {{ gitxchange | markdown | safe }}
    <p class="flex justify-between lg:block">
      <a class="animated-link text-lg lg:text-lg/lg uppercase" href="https://gitcoin.co/hackathon/GitxChange/?tab=hackathon:25">Hackathon portal</a>
    </p>
   </div>
   <!-- prettier-ignore -->
   {% endcall %}
  <section class="color-every-other-child lg:flex">
    <div
      class="flex flex-col justify-between w-full lg:w-span4 lg:min-h-tall lg-tall:min-h-screen py-base lg:py-lg/xl px-base lg:px-lg/lg"
    >
      <h1
        class="mb-base lg:mb-lg/base font-display text-header lg:text-lg/header uppercase leading-none"
      >
        Speakers
      </h1>
      <div>
        <a class="animated-link text-lg lg:text-lg/lg uppercase" href="#">Register for the conference</a>
      </div>
    </div>
    <div
      class="flex flex-col w-full lg:w-span8 lg:min-h-tall lg-tall:min-h-screen"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 overflow-hidden">
      {% for s in speakers2020 %}
        <a
          class="conference-image"
          style="background-image: linear-gradient(black, black), url('{{ s.picture }}');"
          href="#"
        >
          <div class="absolute top-0 right-0 w-1/2 p-sm lg:p-lg/sm bg-white">
            <h4 class="text-sm lg:text-lg/sm font-semibold">{{ s.name }}</h4>
            <p class="text-xs lg:text-lg/xs">{{ s.title }}</p>
          </div>
          <div class="hidden">
            {{ s.bio }}
          </div>
        </a>
      {% endfor %}
        <a
          class="conference-image"
          href="#"
        >
        <div class="flex justify-center items-center h-full">
         <span class="animated-link text-lg lg:text-lg/lg uppercase">See all speakers</span>
        </div>
        </a>
      </div>
    </div>
  </section>
  <section class="color-every-other-child flex flex-col lg:flex-row">
    <div
      class="flex flex-col justify-start w-full lg:w-span4 py-base lg:py-lg/xl px-base lg:pl-lg/lg lg:pr-lg/sm"
    >
      <h1
        class="mb-base lg:mb-lg/base font-display text-header lg:text-lg/header uppercase leading-none"
      >
        #RxCon on Twitter
      </h1>
    </div>
    <div
      class="flex-grow flex flex-col w-full lg:w-span8 py-base lg:py-lg/xl px-base lg:pl-lg/sm lg:pr-lg/lg"
    >
      <div class="border-2 rounded">
        <a
          class="twitter-timeline"
          data-height="512"
          href="https://twitter.com/RadxChange?ref_src=twsrc%5Etfw"
        >
          Loading tweets...
        </a>
      </div>
    </div>
  </section>

  <section class="color-every-other-child flex flex-col lg:flex-row lg:min-h-tall lg-tall:min-h-screen">
    <div
      class="flex flex-col justify-between w-full lg:w-span4 py-base lg:py-lg/xl px-base lg:pl-lg/lg lg:pr-lg/sm"
    >
      <h1
        class="mb-base lg:mb-lg/base font-display text-header lg:text-lg/header uppercase leading-none"
      >
      With the support of 
      </h1>
      <div>
        <a class="animated-link text-lg lg:text-lg/lg uppercase" href="#">Support the conference</a>
      </div>
    </div>
    <ul class="grid grid-cols-2 lg:grid-cols-3 col-gap-xl lg:col-gap-lg/xl gap-xl lg:gap-lg/xl w-full lg:w-span8 py-base lg:py-lg/xl px-base lg:pl-lg/sm lg:pr-lg/lg">
      {% for s in sponsors%}
      <li class="flex justify-center items-center">
        <img
          class="grayscale overflow-visible"
          src="{{ s.image }}"
          alt="{{ s.name }}"
        />
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
<!-- prettier-ignore -->
{% call footer.render('bg-golden-fizz-100') %}
<!-- prettier-ignore -->
{% endcall %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  {% include "components/nav.js" %}
</script>
