---
layout: layouts/_base.njk
title: Not Found
bodyBg: bg-golden-fizz
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="flex flex-col items-center justify-center h-screen">
  <p class="mb-8">
    <span class="font-display text-size-display lg:text-size-lg/display"
      >Page Not Found</span
    >
  </p>
  <p>
    <a class="uppercase" href="/">Back to RadicalxChange</a>
  </p>
</div>
