---
layout: layouts/_base.njk
title: Not Found
bodyBg: bg-golden-fizz-100
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="flex flex-col items-center justify-center w-100vw h-100vh">
  <p class="mb-lg lg:mb-lg/lg">
    <span
      class="font-display leading-display text-fullscreen lg:text-lg/fullscreen"
      >Page Not Found</span
    >
  </p>
  <p>
    <a class="animated-link uppercase" href="/">Back to RadicalxChange</a>
  </p>
</div>
