---
layout: layouts/_base.njk
introduction: |
  RadicalxChange (RxC) is a global movement committed to advancing plurality, equality, community, and decentralization, through the development of upgrades to democracy, markets, property regimes, data economy, commons and collective intelligence governance.

  We believe in designing and discovering social organizations beyond capitalism, statism and technocracy, which can nurture the emergence of increasing returns from our complex cooperative diversity.

  RxC connects social scientists, technologists, artists, activists and entrepreneurs - and we are always open to new people and ways to help us upgrade the source code of our social world to make it radically more intelligent, diverse, equal and free.
chaptersDescription: |
  RadicalxChange Chapters are the key organizations of RxC community - they develop local networks for discussions, investigations, experiments and implementations of the next generation of social technology, and they spread the RxC vision across the globe. Chapters warmly welcome people of all backgrounds and levels of experience with the topics.
aboutBlurb: |
  The RadicalxChange Foundation is a non-profit organization dedicated to advancing the RxC cause, founded by E. Glen Weyl following the publication of the book Radical Markets in 2018.

  You can contact (info@rxc.com) the Foundation for all matters concerning RxC, including consultancy work related to policy development and institutional design.
supporters:
  - name: Hewlett Foundation
    href: "https://hewlett.org/"
  - name: Kauffman Foundation
    href: "https://www.kauffman.org/"
  - name: Merit
    href: "https://www.merits.com/"
  - name: Omidyar Network
    href: "https://www.omidyar.com/"
  - name: Wireline
    href: "https://www.wireline.io/"
  - name: The Charter Cities Institute
    href: "https://www.chartercitiesinstitute.org/"
  - name: Institute for New Economic Thinking
    href: "https://www.ineteconomics.org/"
  - name: The Osa Foundation
    href: "https://www.theosafoundation.org/"
  - name: Alfred P. Sloan Foundation
    href: "https://sloan.org/"
  - name: Bunz
    href: "https://bunz.com/"
  - name: College for Creative Studies
    href: "https://www.collegeforcreativestudies.edu/"
  - name: Dada.art
    image: /images/sponsors-2020/dada-logo.png
    href: "https://dada.nyc/"
  - name: Democracy Earth
    image: /images/sponsors-2020/democracy-earth-logo.png
    href: "https://democracy.earth/"
  - name: Evil Twin Booking
    href: "https://eviltwinbooking.org/"
  - name: Gitcoin
    image: /images/sponsors-2020/gitcoin-logo.svg
    href: "https://gitcoin.co/"
  - name: Insper
    image: /images/sponsors-2020/insper-logo.png
    href: "https://www.insper.edu.br/"
  - name: Idena
    image: /images/sponsors-2020/idena-logo.jpeg
    href: "https://idena.io/"
  - name: Microsoft
    href: "https://www.microsoft.com/"
  - name: Nesta
    href: "https://www.nesta.org.uk/"
  - name: Ocean Protocol
    image: /images/sponsors-2020/ocean-protocol-logo.svg
    href: "https://oceanprotocol.com/"
  - name: Polco
    href: "https://polco.us/"
  - name: Totle
    href: "https://www.totle.com/"
  - name: Wildcards
    image: /images/sponsors-2020/wildcards-logo.png
    href: "https://wildcards.world/"
---

<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<main class="introduction">
  <div class="introduction_logo">
    <a class="inline-block" href="/">{{ logo.render() }}</a>
  </div>
  <div class="introduction_content md-container">
    {{ introduction | markdown | safe }}
  </div>
</main>
<section id="chapters" class="about_chapters">
  <div class="about_chapters_join-button">
    <a
      class="action-button inline-flex items-center justify-between py-2 px-3 border rounded-oval text-size--1"
      href="/chapters"
    >
      <span class="uppercase">Join your local chapter</span
      ><img class="action-button_arrow" src="/images/ui/next-arrow.svg" />
    </a>
  </div>
  <div class="about_chapters_description md-container">
    {{ chaptersDescription | markdown | safe }}
  </div>
</section>
<section id="team" class="about_team">
  <div class="about_team_the-team">
    <h2 class="h-8 lg:h-12 border-b">Team members</h2>
    <table class="block">
      <tbody class="block">
        <!-- prettier-ignore -->
        {% for member in team %}
        <tr class="flex items-center h-8 lg:h-12 border-b">
          <td style="width: calc(50% + 1rem);">
            <a
              class="see-more-button text-size--1 uppercase"
              href="/team/{{ member.name | slug }}"
              >{{ member.name }}</a
            >
          </td>
          <td style="width: calc(50% - 1rem);">
            <span class="text-size--1">{{ member.title }}</span>
          </td>
        </tr>
        <!-- prettier-ignore -->
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="about_team_the-board">
    <h2 class="h-8 lg:h-12 border-b">Board members</h2>
    <ul class="lg:h-36 py-2 border-b">
      <!-- prettier-ignore -->
      {% for member in board %}
      <li class="comma-separated">
        <a class="see-more-button" href="/board/{{ member.name | slug }}">{{
          member.name
        }}</a>
      </li>
      <!-- prettier-ignore -->
      {% endfor %}
    </ul>
    <div class="md-sm pt-2">
      {{ aboutBlurb | markdown | safe }}
    </div>
  </div>
</section>
<section id="press" class="about_press">
  <div class="about_press_title">
    <h2 class="h-8 lg:h-12">Press</h2>
  </div>
  <div class="about_press_hr"></div>
  <ul class="about_press_links">
    <!-- prettier-ignore -->
    {% for article in press | slice(0, 43) %}
    <li class="press_link">
      <a class="block" href="{{ article.href }}"
        ><p class="text-size--2">
          <span class="hover-link">{{ article.publication }}</span>
        </p>
        <p class="text-size--2">{{ article.date | readableDate }}</p></a
      >
      <div class="press_link-details">
        <p class="text-white text-size--3">{{ article.title }}</p>
      </div>
    </li>
    <!-- prettier-ignore -->
    {% endfor %}
    <li class="text-size--2"><a href="/press">See all press...</a></li>
  </ul>
</section>
<section id="supporters" class="about_support">
  <div class="about_support_hr"></div>
  <div class="about_support_title">
    <h2>Supported by</h2>
  </div>
  <ul class="about_support_supporters">
    <!-- prettier-ignore -->
    {% for supporter in supporters %}
    <li class="comma-separated">
      <a class="see-more-button" href="{{ supporter.href }}">{{
        supporter.name
      }}</a>
    </li>
    <!-- prettier-ignore -->
    {% endfor %}
  </ul>
</section>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
