---
layout: layouts/_base.njk
---

<!-- prettier-ignore -->
{% macro vote(id) %}
<svg
  id="{{ id }}"
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  viewBox="0 0 100 100"
>
  <path
    stroke-width="2"
    stroke="black"
    fill="none"
    d="M2,50A48,48 0,1,1 98,50A48,48 0,1,1 2,50"
  ></path>
</svg>
<!-- prettier-ignore -->
{% endmacro %}

<!-- prettier-ignore -->
{% macro circle(id) %}
<div style="flex: auto; margin-right: 2%">
  <svg
    id="{{ id }}"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    viewBox="0 0 100 100"
    class="circle-thing"
  >
    <circle
      cx="50"
      cy="50"
      r="48"
      stroke-width="2"
      stroke="black"
      fill="black"
    />
  </svg>
</div>
<!-- prettier-ignore -->
{% endmacro %}

<div
  style="
    position: relative;
    width: 50vw;
    height: 50vw;
    margin: 128px auto;
    border: 1px solid black;
  "
>
  <div
    style="
      position: absolute;
      bottom: 43%;
      left: 7%;
      width: 25%;
      height: 25%;
      border-left: 5px solid black;
      transform: rotate(-8deg);
    "
  >
    <canvas
      id="flag1"
      style="width: 100%; margin-top: -8%; margin-left: -2%"
    ></canvas>
    <div style="position: absolute; width: 160%; top: -29%; left: -33%">
      {{ vote("vote1") }}
    </div>
  </div>
  <div
    style="
      position: absolute;
      bottom: 60%;
      left: 41%;
      width: 25%;
      height: 25%;
      border-left: 5px solid black;
      transform: rotate(-8deg);
    "
  >
    <canvas
      id="flag2"
      style="width: 100%; margin-top: -8%; margin-left: -2%"
    ></canvas>
    <div style="position: absolute; width: 160%; top: -29%; left: -33%">
      {{ vote("vote2") }}
    </div>
    <div style="position: absolute; width: 180%; top: -39%; left: -43%">
      {{ vote("vote3") }}
    </div>
    <div style="position: absolute; width: 200%; top: -49%; left: -53%">
      {{ vote("vote4") }}
    </div>
  </div>
  <div
    style="
      position: absolute;
      bottom: 43%;
      left: 73%;
      width: 25%;
      height: 25%;
      border-left: 5px solid black;
      transform: rotate(-8deg);
    "
  >
    <canvas
      id="flag3"
      style="width: 100%; margin-top: -8%; margin-left: -2%"
    ></canvas>
  </div>
  <div
    id="circles"
    style="
      position: absolute;
      bottom: 25%;
      display: flex;
      width: 100%;
      padding-left: 2%;
    "
  >
    <!-- prettier-ignore -->
    {% for i in range(0, 10) %}
    {{ circle("circle" + i) }}
    <!-- prettier-ignore -->
    {% endfor %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
<script>
  // Inspired by https://codepad.co/snippet/html-canvas-flag-wave
  const Flag = function ($canvas, decorateFlagFn) {
    this.$canvas = $canvas;
    this.decorateFlagFn = decorateFlagFn;
  };

  Flag.prototype.draw = function () {
    const width = this.$canvas.width;
    const height = width / 1.5;
    this.$canvas.height = height;

    // const c = (7 * height) / 13;
    // const d = 0.76 * height;
    // const e = 0.054 * height;
    // const g = 0.063 * height;
    // const k = 0.0616 * height;
    // const l = height / 13;

    const ctx = this.$canvas.getContext("2d");
    this.decorateFlagFn(ctx);
  };

  Flag.prototype.wave = function (
    wavelength = this.$canvas.width / 10,
    amplitude = 10,
    period = 200,
    shading = 100,
    squeeze = 0
  ) {
    const fps = 30;
    const ctx = this.$canvas.getContext("2d");
    const w = this.$canvas.width;
    const h = this.$canvas.height;
    const od = ctx.getImageData(0, 0, w, h).data;
    return setInterval(function () {
      const id = ctx.getImageData(0, 0, w, h);
      const d = id.data;
      const now = new Date() / period;
      for (let y = 0; y < h; ++y) {
        let lastO = 0;
        let shade = 0;
        const sq = (y - h / 2) * squeeze;
        for (let x = 0; x < w; ++x) {
          const px = (y * w + x) * 4;
          const pct = x / w;
          const o = Math.sin(x / wavelength - now) * amplitude * pct;
          const y2 = (y + (o + sq * pct)) << 0;
          const opx = (y2 * w + x) * 4;
          shade = (o - lastO) * shading;
          d[px] = od[opx] + shade;
          d[px + 1] = od[opx + 1] + shade;
          d[px + 2] = od[opx + 2] + shade;
          d[px + 3] = od[opx + 3];
          lastO = o;
        }
      }
      ctx.putImageData(id, 0, 0);
    }, 1000 / fps);
  };

  const flag1 = new Flag(document.getElementById("flag1"), (ctx) => {
    ctx.fillStyle = "#868686";
    ctx.fillRect(5, 25, 150, 150);
    ctx.fillStyle = "#414141";
    ctx.fillRect(155, 25, 150, 150);
  });
  flag1.draw();
  flag1.wave(20, 10, 150, 200, -0.1);

  const flag2 = new Flag(document.getElementById("flag2"), (ctx) => {
    ctx.fillStyle = "#010101";
    ctx.fillRect(5, 25, 300, 50);
    ctx.fillStyle = "#F0F0F0";
    ctx.fillRect(5, 75, 300, 50);
    ctx.fillStyle = "#010101";
    ctx.fillRect(5, 125, 300, 50);
  });
  flag2.draw();
  flag2.wave(20, 10, 150, 200, -0.1);

  const flag3 = new Flag(document.getElementById("flag3"), (ctx) => {
    ctx.fillStyle = "#919191";
    ctx.fillRect(5, 25, 300, 150);
    ctx.fillStyle = "#010101";
    ctx.fillRect(125, 85, 60, 30);
  });
  flag3.draw();
  flag3.wave(20, 10, 150, 200, -0.1);

  const vote1 = new Vivus("vote1", { start: "manual", duration: 25 });
  const vote2 = new Vivus("vote2", { start: "manual", duration: 25 });
  const vote3 = new Vivus("vote3", { start: "manual", duration: 25 });
  const vote4 = new Vivus("vote4", { start: "manual", duration: 25 });
  const $circle0 = document.getElementById("circle0");
  const $circle1 = document.getElementById("circle1");
  const $circle2 = document.getElementById("circle2");
  const $circle3 = document.getElementById("circle3");
  const $circle4 = document.getElementById("circle4");
  const $circle5 = document.getElementById("circle5");
  const $circle6 = document.getElementById("circle6");
  const $circle7 = document.getElementById("circle7");
  const $circle8 = document.getElementById("circle8");
  const $circle9 = document.getElementById("circle9");

  let tickCounter = 0;
  setInterval(function () {
    switch (tickCounter) {
      case 0:
        {
        }
        break;
      case 1:
        {
          vote1.play();
          $circle0.classList.add("circle-thing-filled");
        }
        break;
      case 2:
        {
          vote2.play();
          vote3.play();
          $circle1.classList.add("circle-thing-filled");
          $circle2.classList.add("circle-thing-filled");
          $circle3.classList.add("circle-thing-filled");
          $circle4.classList.add("circle-thing-filled");
        }
        break;
      case 3:
        {
          vote4.play();
          $circle5.classList.add("circle-thing-filled");
          $circle6.classList.add("circle-thing-filled");
          $circle7.classList.add("circle-thing-filled");
          $circle8.classList.add("circle-thing-filled");
          $circle9.classList.add("circle-thing-filled");
        }
        break;
      case 4:
        {
          vote1.reset();
          vote2.reset();
          vote3.reset();
          vote4.reset();
          $circle0.classList.remove("circle-thing-filled");
          $circle1.classList.remove("circle-thing-filled");
          $circle2.classList.remove("circle-thing-filled");
          $circle3.classList.remove("circle-thing-filled");
          $circle4.classList.remove("circle-thing-filled");
          $circle5.classList.remove("circle-thing-filled");
          $circle6.classList.remove("circle-thing-filled");
          $circle7.classList.remove("circle-thing-filled");
          $circle8.classList.remove("circle-thing-filled");
          $circle9.classList.remove("circle-thing-filled");
        }
        break;
    }
    tickCounter = (tickCounter + 1) % 5;
  }, 1000);
</script>
