---
layout: layouts/_base.njk
title: Community
headerText: Community
introductionBlurb: |
  RxC community is growing across the globe. Join the Chapters investigating and developing local solutions for next-gen political economies. Collaborate with researchers, activists, artists and entrepreneurs building projects that explore and implement RxC concepts. Connect with an expanding diversity of organizations upgrading our social worlds.
---

<!-- prettier-ignore -->
{% import "components/introduction.njk" as introduction %}
<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<!-- prettier-ignore -->
{% call introduction.render(headerText, introductionBlurb) %}
<div>
  <a href="/chapters" class="animated-link uppercase"
    >Get involved with your local chapter</a
  >
</div>
<!-- prettier-ignore -->
{% endcall %}
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
