---
layout: layouts/_base.njk
concept_titles:
  - name: Data As Labour / Data Dignity (DAL/DD)
  - name: Quadratic Voting (QV)
  - name: Quadratic Financing (QF)
  - name: COST / SALSA
  - name: Radical Antitrust
  - name: Intersectional Social Data (ISD)
---

<!-- prettier-ignore -->
{% import "components/logo.njk" as logo %}
<!-- prettier-ignore -->
{% import "components/menu.njk" as menu %}
<!-- prettier-ignore -->
{% import "components/footer.njk" as footer %}

<!-- prettier-ignore -->
{{ menu.render() }}
<main class="concepts">
  <div class="concepts_logo">
    <a class="inline-block" href="/">{{ logo.render() }}</a>
  </div>
  <ul class="concepts_list">
    <!-- prettier-ignore -->
    {% for title in concept_titles %}
    <li class="concepts_list_item">
      <a
        class="font-display text-size-display lg:text-size-lg/display uppercase hover:underline focus:underline focus:outline-none"
        href="/concepts/{{ title.name | slug }}"
        >{{ title.name }}</a
      >
    </li>
    <!-- prettier-ignore -->
    {% endfor %}
  </ul>
</main>
<!-- prettier-ignore -->
{{ footer.render() }}
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
