<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>RadicalxChange</title>
  </head>
  <body>
    <main>
      <header class="fixed top-0 right-0 w-2/5 h-screen py-6 pl-4 pr-12">
        <div class="relative h-full">
          <nav>
            <ul class="flex justify-between">
              <li class="mr-2"><a href="#">Forum</a></li>
              <li class="mr-2"><a href="#">About</a></li>
              <li class="mr-2"><a href="#">Community</a></li>
              <li class="mr-2"><a href="#">Blog</a></li>
              <li class="mr-2"><a href="#">Subscribe</a></li>
              <li class="mr-2"><a href="#">Donate</a></li>
            </ul>
          </nav>
          <div class="absolute bottom-0 left-0 mr-1/5">
            <div><span>Save the date!</span></div>
            <div>
              <p>Annual Conference</p>
              <p>June 19-21, 2020</p>
              <p>Hosted online</p>
              <p>Register</p>
            </div>
          </div>
        </div>
      </header>
      <section class="bg-golden-fizz-100">
        <div class="w-3/5 h-screen py-6 pl-12">
          <div class="relative h-full">
            <h1>RadicalxChange</h1>
            <div class="absolute bottom-0 left-0">
              <p>
                RadicalxChange Foundation is an Institutional Affiliate on the
                Roadmap to Pandemic Resistance, the latest report by the Edmond
                J. Safra Center on ending COVID-19 quarantine via Testing,
                Tracing, & Supported Isolation (#TTSI).
              </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
