---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url)}}{% endset %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
  </url>
  {%- endfor %}
  <url>
    <loc>{{ metadata.url }}/media/papers/Data-Dividends-Working-Paper.pdf</loc>
    <lastmod>2020-12-29</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/data-freedom-act.pdf</loc>
    <lastmod>2020-12-29</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/RoadmapToPandemicResilience.pdf</loc>
    <lastmod>2020-12-29</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/RxC-Radically-Rethinking-Public-Purchasing.pdf</loc>
    <lastmod>2020-12-29</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/The_Handbook_for_Radical_Local_Democracy.pdf</loc>
    <lastmod>2020-12-29</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/Taiwan_Grassroots_Digital_Democracy_That_Works_V1_DIGITAL_.pdf</loc>
    <lastmod>2021-01-22</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/a-crossroads-not-an-island.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/a-history-for-the-future.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/a-proposal-to-limit-the-anti-competitive-power-of-institutional-investors.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/antitrust-remedies-for-labor-market-power.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/equality-of-power-and-fair-public-decision-making.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/liberal-radicalism.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/ownership-and-punishment.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/qv-and-the-public-good.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/radicalxchange-an-academic-agenda.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/redesigning-spectrum-licenses-to-encourage-innovation-and-investment.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/verifying-identity-as-a-social-intersection.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/who-watches-the-watchmen.pdf</loc>
    <lastmod>2021-02-10</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/desoc.pdf</loc>
    <lastmod>2024-06-12</lastmod>
  </url>
  <url>
    <loc>{{ metadata.url }}/media/papers/silent_strings.pdf</loc>
    <lastmod>2024-06-12</lastmod>
  </url>
</urlset>
