---
layout: layouts/html.njk
title: Team - RadicalxChange
headerText: Team
---

<div class="flex flex-col justify-between h-full bg-golden-fizz-100">
  <!-- prettier-ignore -->
  {% for category in team %}
  <h1 class="my-base lg:my-lg/base text-3xl lg:text-lg/3xl">
    {{ category.name }}
  </h1>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-base lg:gap-lg/lg col-gap-base lg:col-gap-lg/lg mb-base lg:mb-lg/lg overflow-hidden"
  >
    <!-- prettier-ignore -->
    {% for person in category.items %}
    <div>
      <div
        class="team_image cursor-pointer"
        style="background-image: linear-gradient(black, black), url('/images/team/{{
          person.image
        }}');"
      ></div>
      <div class="px-sm lg:px-lg/base py-sm lg:py-lg/base bg-white">
        <h4 class="text-sm lg:text-lg/sm font-semibold leading-tight">
          {{ person.name }}
        </h4>
        <!-- prettier-ignore -->
        {% if person.website or person.twitter or person.linkedin or person.facebook %}
        <ul class="flex mt-xs lg:mt-lg/sm">
          <!-- prettier-ignore -->
          {% if person.website %}
          <li class="mr-sm lg:mr-lg/sm">
            <a href="{{ person.website }}"
              ><img class="team_social-icon" src="/images/ui/icon-link.svg" />
            </a>
          </li>
          <!-- prettier-ignore -->
          {% endif %}
          <!-- prettier-ignore -->
          {% if person.twitter %}
          <li class="mr-sm lg:mr-lg/sm">
            <a href="{{ person.twitter }}"
              ><img class="team_social-icon" src="/images/ui/icon-twitter.svg"
            /></a>
          </li>
          <!-- prettier-ignore -->
          {% endif %}
          <!-- prettier-ignore -->
          {% if person.linkedin %}
          <li class="mr-sm lg:mr-lg/sm">
            <a href="{{ person.linkedin }}"
              ><img class="team_social-icon" src="/images/ui/icon-linkedin.svg"
            /></a>
          </li>
          <!-- prettier-ignore -->
          {% endif %}
          <!-- prettier-ignore -->
          {% if person.facebook %}
          <li class="mr-sm lg:mr-lg/sm">
            <a href="{{ person.facebook }}"
              ><img class="team_social-icon" src="/images/ui/icon-facebook.svg"
            /></a>
          </li>
          <!-- prettier-ignore -->
          {% endif %}
        </ul>
        <!-- prettier-ignore -->
        {% endif %}
      </div>
    </div>
    <!-- prettier-ignore -->
    {% endfor %}
  </div>
  <!-- prettier-ignore -->
  {% endfor %}
</div>
