---
layout: layouts/_base.njk
---

<main>
  <div style="height: var(--step-space--2); border: 1px solid black;"></div>
  <div style="height: var(--step-space--1); border: 1px solid black;"></div>
  <div style="height: var(--step-space-0); border: 1px solid black;"></div>
  <div style="height: var(--step-space-1); border: 1px solid black;"></div>
  <div style="height: var(--step-space-2); border: 1px solid black;"></div>
  <div style="height: var(--step-space-3); border: 1px solid black;"></div>
  <div style="height: var(--step-space-4); border: 1px solid black;"></div>
  <div style="height: var(--step-space-5); border: 1px solid black;"></div>
</main>
