<!-- prettier-ignore -->
{% extends "layouts/_page.njk" %}

<!-- prettier-ignore -->
{% set title = "RxC TV" %}
<!-- prettier-ignore -->
{% set headerText = "RxC TV" %}

<!-- prettier-ignore -->
{% block content %}
<div class="markdown">
  <h1>Nothing on right now...</h1>
  <p>There are no scheduled events.</p>
  <p><a class="animated-link" href="/">Back to home</a></p>
</div>
<!-- prettier-ignore -->
{% endblock %}
