---
layout: layouts/_base.njk
title: Under Construction
bodyBg: bg-golden-fizz-100
eleventyExcludeFromCollections: true
---

<div class="flex flex-col items-center justify-center w-100vw h-100vh">
  <p class="mb-base lg:mb-lg/base">
    <span
      class="font-display leading-display text-fullscreen lg:text-lg/fullscreen"
      >Under Construction</span
    >
  </p>
  <p class="mb-lg lg:mb-lg/lg">
    <span
      >This content is currently unavailable, but it will be back soon!</span
    >
  </p>
  <p>
    <a class="animated-link uppercase" href="/">Back to RadicalxChange</a>
  </p>
</div>
